In [12]:
import h3
import requests
import pandas as pd

In [13]:
GEO='37.444572,-122.160309'
api_key= 'Z1XB-w87ksYmy5gJnj4gfLPJUJRkiyyPDLEtyjnMYy0'
url_range = f'https://browse.search.hereapi.com/v1/browse?at={GEO}&in=circle:{GEO};r=70&limit=100&apiKey={api_key}'

In [14]:
resp = requests.get(url=url_range)
data= resp.json()

In [15]:
title_list = []
cat_id_list = []
cat_def_list = []
cat_name_list = []
lat_list = []
lng_list = []

count = 0
for i in data['items']:
    if 'categories' not in i:
        continue
    else:
        title_list.append(str(i['title']))
        cat_id_list.append(str(i['categories'][0]['id']))
        cat_name_list.append(str(i['categories'][0]['name']))
        lat_list.append(str(i['position']['lat']))
        lng_list.append(str(i['position']['lng']))
        count +=1
print('Places nearby: ' + str(count))

Places nearby: 43

In [16]:
dict = {'title': title_list, 'cat_id': cat_id_list, 'cat_name': cat_name_list, 'latitude': lat_list, 'longitude': lng_list} 
cat_df = pd.DataFrame(dict)

In [17]:
def make_cat_def(row):
    if row['cat_id'][:3] == '100':
        return 'Eat & Drink'
    elif row['cat_id'][:3] == '200':
        return 'Going Out-Entertainment'
    elif row['cat_id'][:3] == '300':
        return 'Sights and Museums'
    elif row['cat_id'][:3] == '400':
        return 'Transport'
    elif row['cat_id'][:3] == '500':
        return 'Accommodations'
    elif row['cat_id'][:3] == '600':
        return 'Shopping'
    elif row['cat_id'][:3] == '700':
        return 'Business and Services'
    elif row['cat_id'][:3] == '800':
        return 'Facilities'
    elif row['cat_id'][:3] == '900':
        return 'Areas and Buildings'

In [18]:
cat_df['cat_definition'] = cat_df.apply(lambda row : make_cat_def(row), axis=1)

In [20]:
cat_df.head()

,title,cat_id,cat_name,latitude,longitude,cat_definition
0,EV Charging Station,700-7600-0322,EV Charging Station,37.4444,-122.16004,Business and Services
1,Hamilton & Ramona,400-4100-0042,Bus Stop,37.4444,-122.16003,Transport
2,Palo Alto Fire Department,700-7300-0113,Fire Department,37.4444,-122.16003,Business and Services
3,Palo Alto Utilities Billing Information,700-7200-0000,Commercial Services,37.4444,-122.16003,Business and Services
4,Refining Strong Emotions--Popup Zendo,700-7400-0292,Wellness Center & Services,37.4444,-122.16003,Business and Services

In [21]:
def make_h3_code(row):
    return h3.geo_to_h3(
            lat=row['latitude'],
            lng=row['longitude'],
            resolution=8)

In [22]:
cat_df['latitude']=cat_df['latitude'].apply(pd.to_numeric)
cat_df['longitude']=cat_df['longitude'].apply(pd.to_numeric)

In [23]:
cat_df['h3_code'] = cat_df.apply(lambda row : make_h3_code(row), axis=1)

In [24]:
cat_df.head()

,title,cat_id,cat_name,latitude,longitude,cat_definition,h3_code
0,EV Charging Station,700-7600-0322,EV Charging Station,37.4444,-122.16004,Business and Services,8828347433fffff
1,Hamilton & Ramona,400-4100-0042,Bus Stop,37.4444,-122.16003,Transport,8828347433fffff
2,Palo Alto Fire Department,700-7300-0113,Fire Department,37.4444,-122.16003,Business and Services,8828347433fffff
3,Palo Alto Utilities Billing Information,700-7200-0000,Commercial Services,37.4444,-122.16003,Business and Services,8828347433fffff
4,Refining Strong Emotions--Popup Zendo,700-7400-0292,Wellness Center & Services,37.4444,-122.16003,Business and Services,8828347433fffff