In [1]:
import pandas as pd
pa_data = pd.read_csv('./data/Charging_PA.csv',sep=',')

/usr/local/Caskroom/miniconda/base/envs/sql-practice/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (29,30,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
print(pa_data.info())
print(pa_data['Port Number'].value_counts().max)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259415 entries, 0 to 259414
Data columns (total 33 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Station Name                     259415 non-null  object
 1   MAC Address                      259415 non-null  object
 2   Org Name                         259415 non-null  object
 3   Start Date                       259415 non-null  object
 4   Start Time Zone                  259415 non-null  object
 5   End Date                         259415 non-null  object
 6   End Time Zone                    259415 non-null  object
 7   Transaction Date (Pacific Time)  259206 non-null  object
 8   Total Duration (hh:mm:ss)        259415 non-null  object
 9   Charging Time (hh:mm:ss)         259415 non-null  object
 10  Energy (kWh)                     259415 non-null  float64
 11  GHG Savings (kg)                 259415 non-null  float64
 12  Gasoline Savings (gallons)       259415 non-null  float64
 13  Port Type                        259406 non-null  object
 14  Port Number                      259415 non-null  int64
 15  Plug Type                        259415 non-null  object
 16  EVSE ID                          180467 non-null  float64
 17  Address 1                        259415 non-null  object
 18  City                             259415 non-null  object
 19  State/Province                   259415 non-null  object
 20  Postal Code                      259415 non-null  int64
 21  Country                          259415 non-null  object
 22  Latitude                         259415 non-null  float64
 23  Longitude                        259415 non-null  float64
 24  Currency                         257627 non-null  object
 25  Fee                              259415 non-null  float64
 26  Ended By                         259167 non-null  object
 27  Plug In Event Id                 259415 non-null  int64
 28  Driver Postal Code               251013 non-null  float64
 29  User ID                          251738 non-null  object
 30  County                           174750 non-null  object
 31  System S/N                       180467 non-null  float64
 32  Model Number                     180467 non-null  object
dtypes: float64(9), int64(3), object(21)
memory usage: 65.3+ MB
None
<bound method NDFrame._add_numeric_operations.<locals>.max of 2    153477
1    105938
Name: Port Number, dtype: int64>

In [3]:
print(pa_data[['Latitude','Longitude']])

         Latitude   Longitude
0       37.444572 -122.160309
1       37.444572 -122.160309
2       37.444572 -122.160309
3       37.444572 -122.160309
4       37.444572 -122.160309
...           ...         ...
259410  37.428623 -122.144043
259411  37.448284 -122.158272
259412  37.422104 -122.113510
259413  37.448284 -122.158272
259414  37.426178 -122.146034

[259415 rows x 2 columns]

In [4]:
# Get all lat and long from chargingstation in one list
lat_list = []
lon_list = []
geo_list = []

for i in pa_data['Latitude']:
    lat_list.append(i)

for i in pa_data['Longitude']:
    lon_list.append(i)

for index, item in enumerate(lat_list):
    geo_list.append([str(lat_list[index]) + ',' + str(lon_list[index])])

In [5]:
print(len(geo_list))

259415

In [6]:
# keep only unique values in list
unique_geo_list = []
for x in geo_list:
    if x not in unique_geo_list:
        unique_geo_list.append(x)
print(len(unique_geo_list))

66

In [7]:
charging_df = pd.DataFrame(pa_data)

In [8]:
charging_df.head()

,Station Name,MAC Address,Org Name,Start Date,Start Time Zone,End Date,End Time Zone,Transaction Date (Pacific Time),Total Duration (hh:mm:ss),Charging Time (hh:mm:ss),...,Longitude,Currency,Fee,Ended By,Plug In Event Id,Driver Postal Code,User ID,County,System S/N,Model Number
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/29/2011 20:17,PDT,7/29/2011 23:20,PDT,7/29/2011 23:20,3:03:32,1:54:03,...,-122.160309,USD,0.0,Plug Out at Vehicle,3,95124.0,3284.0,NaN,NaN,NaN
1,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 0:00,PDT,7/30/2011 0:02,PDT,7/30/2011 0:02,0:02:06,0:01:54,...,-122.160309,USD,0.0,Customer,4,94301.0,4169.0,NaN,NaN,NaN
2,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 8:16,PDT,7/30/2011 12:34,PDT,7/30/2011 12:34,4:17:32,4:17:28,...,-122.160309,USD,0.0,Plug Out at Vehicle,5,94301.0,4169.0,NaN,NaN,NaN
3,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 14:51,PDT,7/30/2011 16:55,PDT,7/30/2011 16:55,2:03:24,2:02:58,...,-122.160309,USD,0.0,Customer,6,94302.0,2545.0,NaN,NaN,NaN
4,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 18:51,PDT,7/30/2011 20:03,PDT,7/30/2011 20:03,1:11:24,0:43:54,...,-122.160309,USD,0.0,Plug Out at Vehicle,7,94043.0,3765.0,NaN,NaN,NaN

In [9]:
print(charging_df['EVSE ID'].nunique())
print(charging_df['MAC Address'].nunique())
print(charging_df['Station Name'].nunique())

51
83
47

There are 47 different Station names of which several have more than one charging stations.
We use MAC Address as unique identifier since EVSE ID has a lot of NAN values.

In [10]:
charging_df.drop(['Start Time Zone','End Time Zone', 'Transaction Date (Pacific Time)',
                'GHG Savings (kg)', 'Gasoline Savings (gallons)','Address 1','City', 
                'State/Province', 'Postal Code', 'Country', 'County', 'System S/N', 
                'Model Number','Org Name','EVSE ID','Energy (kWh)','Plug Type','Currency'], inplace= True, axis= 1)

charging_df.head(5)

,Station Name,MAC Address,Start Date,End Date,Total Duration (hh:mm:ss),Charging Time (hh:mm:ss),Port Type,Port Number,Latitude,Longitude,Fee,Ended By,Plug In Event Id,Driver Postal Code,User ID
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/29/2011 20:17,7/29/2011 23:20,3:03:32,1:54:03,Level 2,2,37.444572,-122.160309,0.0,Plug Out at Vehicle,3,95124.0,3284.0
1,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/30/2011 0:00,7/30/2011 0:02,0:02:06,0:01:54,Level 2,2,37.444572,-122.160309,0.0,Customer,4,94301.0,4169.0
2,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/30/2011 8:16,7/30/2011 12:34,4:17:32,4:17:28,Level 2,2,37.444572,-122.160309,0.0,Plug Out at Vehicle,5,94301.0,4169.0
3,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/30/2011 14:51,7/30/2011 16:55,2:03:24,2:02:58,Level 2,2,37.444572,-122.160309,0.0,Customer,6,94302.0,2545.0
4,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/30/2011 18:51,7/30/2011 20:03,1:11:24,0:43:54,Level 2,2,37.444572,-122.160309,0.0,Plug Out at Vehicle,7,94043.0,3765.0

Brainstorm: 
Create columns:
    - to see if user paid a fee or used a free charging station.
    - to display parking time (plugged in but not charging)

In [11]:
# Already changed
charging_df.columns = charging_df.columns.str.replace(' ', '_')
charging_df.columns = charging_df.columns.str.lower()
charging_df.columns = charging_df.columns.str.rstrip()

charging_df.head(1)

,station_name,mac_address,start_date,end_date,total_duration_(hh:mm:ss),charging_time_(hh:mm:ss),port_type,port_number,latitude,longitude,fee,ended_by,plug_in_event_id,driver_postal_code,user_id
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/29/2011 20:17,7/29/2011 23:20,3:03:32,1:54:03,Level 2,2,37.444572,-122.160309,0.0,Plug Out at Vehicle,3,95124.0,3284.0

In [12]:
charging_df = charging_df.rename(columns={'total_duration_(hh:mm:ss)': 'total_duration', "charging_time_(hh:mm:ss)": "charging_time"})
charging_df.head(1)

,station_name,mac_address,start_date,end_date,total_duration,charging_time,port_type,port_number,latitude,longitude,fee,ended_by,plug_in_event_id,driver_postal_code,user_id
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/29/2011 20:17,7/29/2011 23:20,3:03:32,1:54:03,Level 2,2,37.444572,-122.160309,0.0,Plug Out at Vehicle,3,95124.0,3284.0

In [13]:
charging_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259415 entries, 0 to 259414
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   station_name        259415 non-null  object
 1   mac_address         259415 non-null  object
 2   start_date          259415 non-null  object
 3   end_date            259415 non-null  object
 4   total_duration      259415 non-null  object
 5   charging_time       259415 non-null  object
 6   port_type           259406 non-null  object
 7   port_number         259415 non-null  int64
 8   latitude            259415 non-null  float64
 9   longitude           259415 non-null  float64
 10  fee                 259415 non-null  float64
 11  ended_by            259167 non-null  object
 12  plug_in_event_id    259415 non-null  int64
 13  driver_postal_code  251013 non-null  float64
 14  user_id             251738 non-null  object
dtypes: float64(4), int64(2), object(9)
memory usage: 29.7+ MB

In [14]:
date_cols = ["start_date", "end_date"]
duration_cols = ["total_duration", "charging_time"]

for col in date_cols:
     charging_df[date_cols] = charging_df[date_cols].apply(pd.to_datetime, errors = "coerce")


for col in duration_cols:
     charging_df[duration_cols] = charging_df[duration_cols].apply(pd.to_timedelta, errors="coerce")

In [15]:
# Check which end_dates have NaT
charging_df[charging_df.end_date.isnull()].head(5)

,station_name,mac_address,start_date,end_date,total_duration,charging_time,port_type,port_number,latitude,longitude,fee,ended_by,plug_in_event_id,driver_postal_code,user_id
116186,PALO ALTO CA / TED THOMPSON #1,0024:B100:0002:1323,2017-04-20 13:09:00,NaT,0 days 06:17:46,0 days 03:39:31,Level 2,1,37.428318,-122.144188,0.0,Plug Out at Vehicle,3535,95008.0,381525
116193,PALO ALTO CA / HIGH #2,0024:B100:0002:5959,2017-04-20 14:05:00,NaT,0 days 03:49:40,0 days 02:36:34,Level 2,1,37.443146,-122.163017,0.0,Customer,781,94538.0,522899
116196,PALO ALTO CA / HIGH #3,0024:B100:0002:5939,2017-04-20 14:10:00,NaT,0 days 04:53:06,0 days 04:02:26,Level 2,2,37.443127,-122.163033,0.0,Plug Out at Vehicle,824,94087.0,172943
116197,PALO ALTO CA / CAMBRIDGE #1,0024:B100:0002:1329,2017-04-20 14:15:00,NaT,0 days 04:54:39,0 days 02:01:02,Level 2,2,37.426155,-122.146065,0.0,Plug Out at Vehicle,4142,94015.0,364595
116198,PALO ALTO CA / HIGH #2,0024:B100:0002:5959,2017-04-20 14:16:00,NaT,0 days 04:47:49,0 days 02:34:38,Level 2,2,37.443146,-122.163017,0.0,Plug Out at Vehicle,782,94538.0,667571

In [16]:
# replace NaT in end_date with start_date + total_duration
charging_df['end_date'] = charging_df['end_date'].fillna((charging_df['start_date'] + charging_df['total_duration']))

In [17]:
charging_df[charging_df.plug_in_event_id == 3535].head()

,station_name,mac_address,start_date,end_date,total_duration,charging_time,port_type,port_number,latitude,longitude,fee,ended_by,plug_in_event_id,driver_postal_code,user_id
18249,PALO ALTO CA / HIGH #4,000D6F0000A20F47,2014-01-09 17:19:00,2014-01-09 19:45:00,0 days 02:26:14,0 days 00:54:04,Level 2,2,37.443676,-122.162880,0.0,Plug Out at Vehicle,3535,94301.0,166781.0
29262,PALO ALTO CA / BRYANT #2,000D6F00009DCFC3,2014-12-18 13:14:00,2014-12-18 13:39:00,0 days 00:24:58,0 days 00:02:25,Level 2,2,37.446510,-122.162140,0.0,Plug Out at Vehicle,3535,94306.0,262799.0
84565,PALO ALTO CA / WEBSTER #1,0024:B100:0002:1146,2016-09-11 13:47:00,2016-09-11 17:27:00,0 days 03:40:30,0 days 03:33:05,Level 2,1,37.448284,-122.158272,0.0,Plug Out at Vehicle,3535,94303.0,337701
85341,PALO ALTO CA / HIGH #1,0024:B100:0002:10FE,2016-09-16 19:01:00,2016-09-16 21:40:00,0 days 02:39:13,0 days 01:08:14,Level 2,2,37.443558,-122.162849,0.0,Plug Out at Vehicle,3535,94061.0,358745
87321,PALO ALTO CA / MPL #6,000D:6F00:015B:7509,2016-09-30 19:29:00,2016-09-30 20:09:00,0 days 00:39:44,0 days 00:39:29,Level 2,1,37.422138,-122.113457,0.0,Plug Out at Vehicle,3535,94043.0,453469

In [18]:
charging_df.isnull().sum()

station_name             0
mac_address              0
start_date               0
end_date                 0
total_duration           0
charging_time            0
port_type                9
port_number              0
latitude                 0
longitude                0
fee                      0
ended_by               248
plug_in_event_id         0
driver_postal_code    8402
user_id               7677
dtype: int64

In [19]:
# create column fee_bol (True if user paid, False if charging was free), drop original fee column

import numpy as np

charging_df['fee_bol'] = np.where(charging_df['fee']== 0.0, False, True)

charging_df.drop(['fee'],inplace= True, axis= 1)

In [20]:
# create colum parking_time to display parking time (plugged in but not charging)

charging_df['parking_time'] = charging_df['total_duration'] - charging_df['charging_time']

Which year do we want to analyze?

unique identifier for each station plug = combination of plug ID and station name

In [21]:
# create column that displays weekday based on start_date

charging_df['weekday'] = charging_df['start_date'].dt.dayofweek

In [22]:
charging_df.head()

,station_name,mac_address,start_date,end_date,total_duration,charging_time,port_type,port_number,latitude,longitude,ended_by,plug_in_event_id,driver_postal_code,user_id,fee_bol,parking_time,weekday
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-29 20:17:00,2011-07-29 23:20:00,0 days 03:03:32,0 days 01:54:03,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,3,95124.0,3284.0,False,0 days 01:09:29,4
1,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 00:00:00,2011-07-30 00:02:00,0 days 00:02:06,0 days 00:01:54,Level 2,2,37.444572,-122.160309,Customer,4,94301.0,4169.0,False,0 days 00:00:12,5
2,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 08:16:00,2011-07-30 12:34:00,0 days 04:17:32,0 days 04:17:28,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,5,94301.0,4169.0,False,0 days 00:00:04,5
3,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 14:51:00,2011-07-30 16:55:00,0 days 02:03:24,0 days 02:02:58,Level 2,2,37.444572,-122.160309,Customer,6,94302.0,2545.0,False,0 days 00:00:26,5
4,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 18:51:00,2011-07-30 20:03:00,0 days 01:11:24,0 days 00:43:54,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,7,94043.0,3765.0,False,0 days 00:27:30,5

In [23]:
charging_df['weekday'].unique()

mymapp = {'0': 'Monday', '1': 'Tuesday', '2': 'Wednesday', '3': 'Thursday', '4': 'Friday', '5': 'Saturday', '6': 'Sunday'}

charging_df.applymap(lambda s: mymapp.get(s) if s in mymapp else s)

,station_name,mac_address,start_date,end_date,total_duration,charging_time,port_type,port_number,latitude,longitude,ended_by,plug_in_event_id,driver_postal_code,user_id,fee_bol,parking_time,weekday
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-29 20:17:00,2011-07-29 23:20:00,0 days 03:03:32,0 days 01:54:03,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,3,95124.0,3284.0,False,0 days 01:09:29,4
1,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 00:00:00,2011-07-30 00:02:00,0 days 00:02:06,0 days 00:01:54,Level 2,2,37.444572,-122.160309,Customer,4,94301.0,4169.0,False,0 days 00:00:12,5
2,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 08:16:00,2011-07-30 12:34:00,0 days 04:17:32,0 days 04:17:28,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,5,94301.0,4169.0,False,0 days 00:00:04,5
3,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 14:51:00,2011-07-30 16:55:00,0 days 02:03:24,0 days 02:02:58,Level 2,2,37.444572,-122.160309,Customer,6,94302.0,2545.0,False,0 days 00:00:26,5
4,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 18:51:00,2011-07-30 20:03:00,0 days 01:11:24,0 days 00:43:54,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,7,94043.0,3765.0,False,0 days 00:27:30,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259410,PALO ALTO CA / TED THOMPSON #3,0024:B100:0002:9F81,2020-12-31 16:39:00,2020-12-31 17:14:00,0 days 00:35:44,0 days 00:35:18,Level 2,2,37.428623,-122.144043,Plug Out at Vehicle,2369,94301.0,2024201,True,0 days 00:00:26,3
259411,PALO ALTO CA / WEBSTER #1,0024:B100:0002:4233,2020-12-31 16:48:00,2020-12-31 20:31:00,0 days 03:43:01,0 days 02:14:04,Level 2,2,37.448284,-122.158272,Plug Out at Vehicle,7255,94541.0,242661,True,0 days 01:28:57,3
259412,PALO ALTO CA / MPL #4,0024:B100:0003:CD37,2020-12-31 17:28:00,2021-01-01 10:56:00,0 days 17:28:14,0 days 05:08:12,Level 2,1,37.422104,-122.113510,Plug Out at Vehicle,455,94306.0,449995,True,0 days 12:20:02,3
259413,PALO ALTO CA / WEBSTER #1,0024:B100:0002:4233,2020-12-31 17:49:00,2020-12-31 21:55:00,0 days 04:05:34,0 days 03:53:42,Level 2,1,37.448284,-122.158272,Plug Out at Vehicle,7256,94552.0,804075,True,0 days 00:11:52,3
259414,PALO ALTO CA / CAMBRIDGE #4,0024:B100:0003:3A0A,2020-12-31 18:19:00,2020-12-31 19:01:00,0 days 00:42:07,0 days 00:41:44,Level 2,1,37.426178,-122.146034,Plug Out at Vehicle,2302,94305.0,2022651,True,0 days 00:00:23,3

In [24]:
def make_weekday_names(row):
    if row['weekday'] == 0:
        return 'Monday'
    if row['weekday'] == 1:
        return 'Tuesday'
    if row['weekday'] == 2:
        return 'Wednesday'
    if row['weekday'] == 3:
        return 'Thursday'
    if row['weekday'] == 4:
        return 'Friday'
    if row['weekday'] == 5:
        return 'Saturday'
    if row['weekday'] == 6:
        return 'Sunday'

In [25]:
charging_df['weekday'] = charging_df.apply(lambda row : make_weekday_names(row), axis=1)
charging_df.head(4)

,station_name,mac_address,start_date,end_date,total_duration,charging_time,port_type,port_number,latitude,longitude,ended_by,plug_in_event_id,driver_postal_code,user_id,fee_bol,parking_time,weekday
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-29 20:17:00,2011-07-29 23:20:00,0 days 03:03:32,0 days 01:54:03,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,3,95124.0,3284.0,False,0 days 01:09:29,Friday
1,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 00:00:00,2011-07-30 00:02:00,0 days 00:02:06,0 days 00:01:54,Level 2,2,37.444572,-122.160309,Customer,4,94301.0,4169.0,False,0 days 00:00:12,Saturday
2,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 08:16:00,2011-07-30 12:34:00,0 days 04:17:32,0 days 04:17:28,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,5,94301.0,4169.0,False,0 days 00:00:04,Saturday
3,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 14:51:00,2011-07-30 16:55:00,0 days 02:03:24,0 days 02:02:58,Level 2,2,37.444572,-122.160309,Customer,6,94302.0,2545.0,False,0 days 00:00:26,Saturday

In [26]:
def make_mac_same(row):
    return row['mac_address'].replace(':','')

In [27]:
charging_df['mac_address'] = charging_df.apply(lambda row : make_mac_same(row), axis=1)
charging_df.head(4)

,station_name,mac_address,start_date,end_date,total_duration,charging_time,port_type,port_number,latitude,longitude,ended_by,plug_in_event_id,driver_postal_code,user_id,fee_bol,parking_time,weekday
0,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,2011-07-29 20:17:00,2011-07-29 23:20:00,0 days 03:03:32,0 days 01:54:03,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,3,95124.0,3284.0,False,0 days 01:09:29,Friday
1,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,2011-07-30 00:00:00,2011-07-30 00:02:00,0 days 00:02:06,0 days 00:01:54,Level 2,2,37.444572,-122.160309,Customer,4,94301.0,4169.0,False,0 days 00:00:12,Saturday
2,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,2011-07-30 08:16:00,2011-07-30 12:34:00,0 days 04:17:32,0 days 04:17:28,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,5,94301.0,4169.0,False,0 days 00:00:04,Saturday
3,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,2011-07-30 14:51:00,2011-07-30 16:55:00,0 days 02:03:24,0 days 02:02:58,Level 2,2,37.444572,-122.160309,Customer,6,94302.0,2545.0,False,0 days 00:00:26,Saturday

In [28]:
def make_unique_id(row):
    return str(row['mac_address']) + '_' +  str(row['port_number'])

charging_df['unique_plug_id'] = charging_df.apply(lambda row : make_unique_id(row), axis=1)

In [29]:
charging_df['index1'] = charging_df.index

In [30]:
# change order of columns, put unique_plug_id in front, drop MAC ID

charging_df = charging_df[['station_name',
                            'unique_plug_id', 
                            'start_date',
                            'end_date',
                            'total_duration',
                            'charging_time',
                            'parking_time',
                            'port_type',
                            'port_number',
                            'latitude',
                            'longitude',
                            'ended_by', 
                            'plug_in_event_id',
                            'driver_postal_code', 
                            'user_id',
                            'fee_bol', 
                            'weekday']]

In [31]:
charging_df = charging_df.sort_values(['unique_plug_id', 'start_date'])

In [32]:
charging_df = charging_df.reset_index()

In [33]:
charging_df.drop(['index'], inplace= True, axis= 1)

In [34]:
charging_df['idle_time'] = None

In [35]:
max_index = int(len(charging_df) -1)

for index, row in charging_df.iterrows():
    if index >= max_index:
        charging_df['idle_time'][index] = None
    elif index <= max_index:
        if charging_df['unique_plug_id'][index+1] != charging_df['unique_plug_id'][index]:
            charging_df['idle_time'][index] = None
        elif charging_df['unique_plug_id'][index+1] == charging_df['unique_plug_id'][index]:
            charging_df['idle_time'][index] = charging_df['start_date'][index+1] - charging_df['end_date'][index]

<ipython-input-35-afb8e34c5381>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  charging_df['idle_time'][index] = charging_df['start_date'][index+1] - charging_df['end_date'][index]
<ipython-input-35-afb8e34c5381>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  charging_df['idle_time'][index] = None
<ipython-input-35-afb8e34c5381>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  charging_df['idle_time'][index] = None

In [36]:
duration_cols = ["idle_time"]

for col in duration_cols:
     charging_df[duration_cols] = charging_df[duration_cols].apply(pd.to_timedelta, errors="coerce")

In [37]:
# bring idle_time to front


charging_df = charging_df[['station_name',
                            'unique_plug_id', 
                            'start_date',
                            'end_date',
                            'total_duration',
                            'charging_time',
                            'parking_time',
                            'idle_time',
                            'port_type',
                            'port_number',
                            'latitude',
                            'longitude',
                            'ended_by', 
                            'plug_in_event_id',
                            'driver_postal_code', 
                            'user_id',
                            'fee_bol', 
                            'weekday']]

In [38]:
charging_2020 = charging_df.query('start_date >= "2020-01-01" & start_date <= "2020-12-31"')
charging_2019 = charging_df.query('start_date >= "2019-01-01" & start_date <= "2019-12-31"')
charging_2018 = charging_df.query('start_date >= "2018-01-01" & start_date <= "2018-12-31"')
charging_2017 = charging_df.query('start_date >= "2017-01-01" & start_date <= "2017-12-31"')
charging_2016 = charging_df.query('start_date >= "2016-01-01" & start_date <= "2016-12-31"')
charging_2015 = charging_df.query('start_date >= "2015-01-01" & start_date <= "2015-12-31"')
charging_2014 = charging_df.query('start_date >= "2014-01-01" & start_date <= "2014-12-31"')
charging_2013 = charging_df.query('start_date >= "2013-01-01" & start_date <= "2013-12-31"')
charging_2012 = charging_df.query('start_date >= "2012-01-01" & start_date <= "2012-12-31"')
charging_2011 = charging_df.query('start_date >= "2011-01-01" & start_date <= "2011-12-31"')

In [39]:
charging_2019.head()

,station_name,unique_plug_id,start_date,end_date,total_duration,charging_time,parking_time,idle_time,port_type,port_number,latitude,longitude,ended_by,plug_in_event_id,driver_postal_code,user_id,fee_bol,weekday
165,PALO ALTO CA / BRYANT #1,000D6F00009D9A1B_1,2019-02-01 11:55:00,2019-02-01 12:41:00,0 days 00:46:11,0 days 00:44:25,0 days 00:01:46,10 days 00:23:00,Level 1,1,37.446613,-122.162308,Customer,3604,95008.0,265179.0,True,Friday
166,PALO ALTO CA / BRYANT #1,000D6F00009D9A1B_1,2019-02-11 13:04:00,2019-02-11 16:03:00,0 days 02:58:07,0 days 02:53:48,0 days 00:04:19,21 days 07:19:00,Level 1,1,37.446613,-122.162308,Customer,3626,94303.0,208307.0,True,Monday
167,PALO ALTO CA / BRYANT #1,000D6F00009D9A1B_1,2019-03-04 23:22:00,2019-03-04 23:24:00,0 days 00:02:14,0 days 00:01:19,0 days 00:00:55,6 days 11:17:00,Level 1,1,37.446613,-122.162308,Customer,3678,94025.0,705633.0,False,Monday
168,PALO ALTO CA / BRYANT #1,000D6F00009D9A1B_1,2019-03-11 10:41:00,2019-03-11 12:54:00,0 days 02:13:45,0 days 02:09:49,0 days 00:03:56,241 days 22:59:00,Level 1,1,37.446613,-122.162308,Customer,3693,93001.0,2589921.0,True,Monday
169,PALO ALTO CA / BRYANT #1,000D6F00009D9A1B_1,2019-11-08 11:53:00,2019-11-08 12:59:00,0 days 01:06:11,0 days 01:04:05,0 days 00:02:06,NaT,Level 1,1,37.446613,-122.162308,Customer,4254,94303.0,208307,True,Friday

### Potential Research Questions

Goal: Incentivize consumers in Germany (MUC and surroundings) to buy an EV by providing an optimal charging infrastructure (this means: there is (almost) always a charging station available at the right place (residential, leisure, work)

Identifying charging behavior patterns in relation to location specifics - Is Palo Alto a best practice example? If yes, what can other cities (e.g. MUC) learn from them in terms of charging infrastructure?

* Impact of COVID -- if time permits
* crisis 2013/2014 -- if time permits
* identify usage patterns according to location 
    * What are peak hours? Difference between weekdays / weekends?, per month? per year? 
    * peak times: How many PA users and how many from outside?
    * avg. charging time, avg. parking time, idle times
    * How many users are not from PA? What does MUC have to take into account in terms of "outside"/"shuttle" users?
    * Analyze recurring charging customers with zip codes not from PA? Which stations do they use? 
* What infrastructure strategy is PA using (e.g. how many new stations per year, where? (location characteristics); Is Palo Alto best practice? (define KPIs, what makes a best practice? Ideas: high idle times (even during peak hours or at least other free station nearby), high ratio of charging stations per EV, high coverage?)
* How does MUC compare?
* Which stations were added newly each year? compare with MUC

Potential categories: living, working, shopping, recreation

In [40]:
# Import engine from sql.py
import psycopg2
from sql import engine

# Print engine
engine

Engine(postgresql+psycopg2://danielkwetschas:***@data-analytics-course.c8g8r1deus2v.eu-central-1.rds.amazonaws.com:5432/postgres)

In [41]:
table_name = 'charging_df_nd'
# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        charging_df.to_sql(name=table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

/usr/local/Caskroom/miniconda/base/envs/sql-practice/lib/python3.8/site-packages/pandas/core/generic.py:2779: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  sql.to_sql(

The charging_df_nd table was imported successfully.

In [42]:
charging_df['station_name'].nunique()

47

In [43]:
charging_df['user_id'].nunique()

27698

In [44]:
charging_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259415 entries, 0 to 259414
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   station_name        259415 non-null  object
 1   unique_plug_id      259415 non-null  object
 2   start_date          259415 non-null  datetime64[ns]
 3   end_date            259415 non-null  datetime64[ns]
 4   total_duration      259415 non-null  timedelta64[ns]
 5   charging_time       259415 non-null  timedelta64[ns]
 6   parking_time        259415 non-null  timedelta64[ns]
 7   idle_time           259298 non-null  timedelta64[ns]
 8   port_type           259406 non-null  object
 9   port_number         259415 non-null  int64
 10  latitude            259415 non-null  float64
 11  longitude           259415 non-null  float64
 12  ended_by            259167 non-null  object
 13  plug_in_event_id    259415 non-null  int64
 14  driver_postal_code  251013 non-null  float64
 15  user_id             251738 non-null  object
 16  fee_bol             259415 non-null  bool
 17  weekday             259415 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(3), int64(2), object(6), timedelta64[ns](4)
memory usage: 33.9+ MB

In [45]:
print('2020 idle_time: ' + str(charging_2020['idle_time'].sum()))
print('2019 idle_time: ' + str(charging_2019['idle_time'].sum()))
print('2018 idle_time: ' + str(charging_2018['idle_time'].sum()))
print('2017 idle_time: ' + str(charging_2017['idle_time'].sum()) + '\n')

print('2020 charging_time: ' + str(charging_2020['charging_time'].sum()))
print('2019 chargingtime: ' + str(charging_2019['charging_time'].sum()))
print('2018 chargingtime: ' + str(charging_2018['charging_time'].sum()))
print('2017 chargingtime: ' + str(charging_2017['charging_time'].sum()) + '\n')

print('2020 parking_time: ' + str(charging_2020['parking_time'].sum()))
print('2019 parking_time: ' + str(charging_2019['parking_time'].sum()))
print('2018 parking_time: ' + str(charging_2018['parking_time'].sum()))
print('2017 parking_time: ' + str(charging_2017['parking_time'].sum()) + '\n')

print('2020 count user_id: ' + str(charging_2020['user_id'].nunique()))
print('2019 count user_id: ' + str(charging_2019['user_id'].nunique()))
print('2018 count user_id: ' + str(charging_2018['user_id'].nunique()))
print('2017 count user_id: ' + str(charging_2017['user_id'].nunique()))

2020 idle_time: 15792 days 22:16:00
2019 idle_time: 16201 days 00:11:00
2018 idle_time: 16026 days 10:33:00
2017 idle_time: 11366 days 10:20:46

2020 charging_time: 1690 days 13:04:56
2019 chargingtime: 3872 days 21:05:45
2018 chargingtime: 3395 days 06:23:23
2017 chargingtime: 4132 days 23:25:16

2020 parking_time: 228 days 16:03:41
2019 parking_time: 587 days 07:01:53
2018 parking_time: 592 days 00:29:18
2017 parking_time: 1174 days 13:32:28

2020 count user_id: 3911
2019 count user_id: 10302
2018 count user_id: 7361
2017 count user_id: 6542

In [46]:
charging_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259415 entries, 0 to 259414
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   station_name        259415 non-null  object
 1   unique_plug_id      259415 non-null  object
 2   start_date          259415 non-null  datetime64[ns]
 3   end_date            259415 non-null  datetime64[ns]
 4   total_duration      259415 non-null  timedelta64[ns]
 5   charging_time       259415 non-null  timedelta64[ns]
 6   parking_time        259415 non-null  timedelta64[ns]
 7   idle_time           259298 non-null  timedelta64[ns]
 8   port_type           259406 non-null  object
 9   port_number         259415 non-null  int64
 10  latitude            259415 non-null  float64
 11  longitude           259415 non-null  float64
 12  ended_by            259167 non-null  object
 13  plug_in_event_id    259415 non-null  int64
 14  driver_postal_code  251013 non-null  float64
 15  user_id             251738 non-null  object
 16  fee_bol             259415 non-null  bool
 17  weekday             259415 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(3), int64(2), object(6), timedelta64[ns](4)
memory usage: 33.9+ MB

In [47]:
charging_2019.describe()

,total_duration,charging_time,parking_time,idle_time,port_number,latitude,longitude,plug_in_event_id,driver_postal_code
count,47655,47655,47655,47643,47655.000000,47655.000000,47655.000000,4.765500e+04,46251.000000
mean,0 days 02:14:46.430762774,0 days 01:57:01.650299024,0 days 00:17:44.780463749,0 days 08:09:40.329954033,1.537950,37.438146,-122.151488,1.102648e+08,93957.874619
std,0 days 02:03:39.192901633,0 days 01:23:14.290885451,0 days 01:22:08.265631916,2 days 21:30:54.662024610,0.498563,0.009774,0.013699,4.000281e+08,5519.380275
min,0 days 00:01:00,0 days 00:00:06,0 days 00:00:00,-1 days +18:50:00,1.000000,37.422104,-122.163239,1.000000e+00,1267.000000
25%,0 days 01:06:41,0 days 01:00:37,0 days 00:00:14,0 days 00:33:00,1.000000,37.426228,-122.162170,2.709500e+03,94070.000000
50%,0 days 01:56:44,0 days 01:45:35,0 days 00:00:22,0 days 02:08:00,2.000000,37.443443,-122.158234,4.564000e+03,94303.000000
75%,0 days 02:54:17,0 days 02:32:10,0 days 00:12:26,0 days 12:45:00,2.000000,37.446613,-122.145981,6.946000e+03,94806.000000
max,4 days 18:32:21,0 days 17:56:41,4 days 16:32:50,342 days 21:27:00,2.000000,37.448284,-122.112480,1.577746e+09,99354.000000

In [48]:
charging_2019.head()

,station_name,unique_plug_id,start_date,end_date,total_duration,charging_time,parking_time,idle_time,port_type,port_number,latitude,longitude,ended_by,plug_in_event_id,driver_postal_code,user_id,fee_bol,weekday
165,PALO ALTO CA / BRYANT #1,000D6F00009D9A1B_1,2019-02-01 11:55:00,2019-02-01 12:41:00,0 days 00:46:11,0 days 00:44:25,0 days 00:01:46,10 days 00:23:00,Level 1,1,37.446613,-122.162308,Customer,3604,95008.0,265179.0,True,Friday
166,PALO ALTO CA / BRYANT #1,000D6F00009D9A1B_1,2019-02-11 13:04:00,2019-02-11 16:03:00,0 days 02:58:07,0 days 02:53:48,0 days 00:04:19,21 days 07:19:00,Level 1,1,37.446613,-122.162308,Customer,3626,94303.0,208307.0,True,Monday
167,PALO ALTO CA / BRYANT #1,000D6F00009D9A1B_1,2019-03-04 23:22:00,2019-03-04 23:24:00,0 days 00:02:14,0 days 00:01:19,0 days 00:00:55,6 days 11:17:00,Level 1,1,37.446613,-122.162308,Customer,3678,94025.0,705633.0,False,Monday
168,PALO ALTO CA / BRYANT #1,000D6F00009D9A1B_1,2019-03-11 10:41:00,2019-03-11 12:54:00,0 days 02:13:45,0 days 02:09:49,0 days 00:03:56,241 days 22:59:00,Level 1,1,37.446613,-122.162308,Customer,3693,93001.0,2589921.0,True,Monday
169,PALO ALTO CA / BRYANT #1,000D6F00009D9A1B_1,2019-11-08 11:53:00,2019-11-08 12:59:00,0 days 01:06:11,0 days 01:04:05,0 days 00:02:06,NaT,Level 1,1,37.446613,-122.162308,Customer,4254,94303.0,208307,True,Friday

In [49]:
import h3

def make_h3_code(row):
    return h3.geo_to_h3(
            lat=row['latitude'],
            lng=row['longitude'],
            resolution=8    # Average Hexagon Area (km2): 0.7373276
                            # Average Hexagon Edge Length (km)
                            # https://h3geo.org/docs/core-library/restable/
)

In [50]:
charging_2019['h3_code'] = charging_2019.apply(lambda row : make_h3_code(row), axis=1)

<ipython-input-50-325c34ac8a4d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  charging_2019['h3_code'] = charging_2019.apply(lambda row : make_h3_code(row), axis=1)

In [51]:
charging_2019.head()

,station_name,unique_plug_id,start_date,end_date,total_duration,charging_time,parking_time,idle_time,port_type,port_number,latitude,longitude,ended_by,plug_in_event_id,driver_postal_code,user_id,fee_bol,weekday,h3_code
165,PALO ALTO CA / BRYANT #1,000D6F00009D9A1B_1,2019-02-01 11:55:00,2019-02-01 12:41:00,0 days 00:46:11,0 days 00:44:25,0 days 00:01:46,10 days 00:23:00,Level 1,1,37.446613,-122.162308,Customer,3604,95008.0,265179.0,True,Friday,88283475d9fffff
166,PALO ALTO CA / BRYANT #1,000D6F00009D9A1B_1,2019-02-11 13:04:00,2019-02-11 16:03:00,0 days 02:58:07,0 days 02:53:48,0 days 00:04:19,21 days 07:19:00,Level 1,1,37.446613,-122.162308,Customer,3626,94303.0,208307.0,True,Monday,88283475d9fffff
167,PALO ALTO CA / BRYANT #1,000D6F00009D9A1B_1,2019-03-04 23:22:00,2019-03-04 23:24:00,0 days 00:02:14,0 days 00:01:19,0 days 00:00:55,6 days 11:17:00,Level 1,1,37.446613,-122.162308,Customer,3678,94025.0,705633.0,False,Monday,88283475d9fffff
168,PALO ALTO CA / BRYANT #1,000D6F00009D9A1B_1,2019-03-11 10:41:00,2019-03-11 12:54:00,0 days 02:13:45,0 days 02:09:49,0 days 00:03:56,241 days 22:59:00,Level 1,1,37.446613,-122.162308,Customer,3693,93001.0,2589921.0,True,Monday,88283475d9fffff
169,PALO ALTO CA / BRYANT #1,000D6F00009D9A1B_1,2019-11-08 11:53:00,2019-11-08 12:59:00,0 days 01:06:11,0 days 01:04:05,0 days 00:02:06,NaT,Level 1,1,37.446613,-122.162308,Customer,4254,94303.0,208307,True,Friday,88283475d9fffff

In [52]:
charging_2019.h3_code.nunique()

5

In [53]:
charging_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47655 entries, 165 to 257712
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   station_name        47655 non-null  object
 1   unique_plug_id      47655 non-null  object
 2   start_date          47655 non-null  datetime64[ns]
 3   end_date            47655 non-null  datetime64[ns]
 4   total_duration      47655 non-null  timedelta64[ns]
 5   charging_time       47655 non-null  timedelta64[ns]
 6   parking_time        47655 non-null  timedelta64[ns]
 7   idle_time           47643 non-null  timedelta64[ns]
 8   port_type           47655 non-null  object
 9   port_number         47655 non-null  int64
 10  latitude            47655 non-null  float64
 11  longitude           47655 non-null  float64
 12  ended_by            47638 non-null  object
 13  plug_in_event_id    47655 non-null  int64
 14  driver_postal_code  46251 non-null  float64
 15  user_id             46269 non-null  object
 16  fee_bol             47655 non-null  bool
 17  weekday             47655 non-null  object
 18  h3_code             47655 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(3), int64(2), object(7), timedelta64[ns](4)
memory usage: 7.0+ MB

In [54]:
charging_2019.to_csv('charging_2019_df.csv', encoding='utf-8', index=False)