In [3]:
import pandas as pd
pa_data = pd.read_csv('./data/Charging_PA.csv',sep=',')

/usr/local/Caskroom/miniconda/base/envs/sql-practice/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (29,30,32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
print(pa_data.info())
print(pa_data['Port Number'].value_counts().max)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259415 entries, 0 to 259414
Data columns (total 33 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Station Name                     259415 non-null  object
 1   MAC Address                      259415 non-null  object
 2   Org Name                         259415 non-null  object
 3   Start Date                       259415 non-null  object
 4   Start Time Zone                  259415 non-null  object
 5   End Date                         259415 non-null  object
 6   End Time Zone                    259415 non-null  object
 7   Transaction Date (Pacific Time)  259206 non-null  object
 8   Total Duration (hh:mm:ss)        259415 non-null  object
 9   Charging Time (hh:mm:ss)         259415 non-null  object
 10  Energy (kWh)                     259415 non-null  float64
 11  GHG Savings (kg)                 259415 non-null  float64
 12  Gasoline Savings (gallons)       259415 non-null  float64
 13  Port Type                        259406 non-null  object
 14  Port Number                      259415 non-null  int64
 15  Plug Type                        259415 non-null  object
 16  EVSE ID                          180467 non-null  float64
 17  Address 1                        259415 non-null  object
 18  City                             259415 non-null  object
 19  State/Province                   259415 non-null  object
 20  Postal Code                      259415 non-null  int64
 21  Country                          259415 non-null  object
 22  Latitude                         259415 non-null  float64
 23  Longitude                        259415 non-null  float64
 24  Currency                         257627 non-null  object
 25  Fee                              259415 non-null  float64
 26  Ended By                         259167 non-null  object
 27  Plug In Event Id                 259415 non-null  int64
 28  Driver Postal Code               251013 non-null  float64
 29  User ID                          251738 non-null  object
 30  County                           174750 non-null  object
 31  System S/N                       180467 non-null  float64
 32  Model Number                     180467 non-null  object
dtypes: float64(9), int64(3), object(21)
memory usage: 65.3+ MB
None
<bound method NDFrame._add_numeric_operations.<locals>.max of 2    153477
1    105938
Name: Port Number, dtype: int64>

In [5]:
print(pa_data[['Latitude','Longitude']])

         Latitude   Longitude
0       37.444572 -122.160309
1       37.444572 -122.160309
2       37.444572 -122.160309
3       37.444572 -122.160309
4       37.444572 -122.160309
...           ...         ...
259410  37.428623 -122.144043
259411  37.448284 -122.158272
259412  37.422104 -122.113510
259413  37.448284 -122.158272
259414  37.426178 -122.146034

[259415 rows x 2 columns]

In [6]:
# Get all lat and long from chargingstation in one list
lat_list = []
lon_list = []
geo_list = []

for i in pa_data['Latitude']:
    lat_list.append(i)

for i in pa_data['Longitude']:
    lon_list.append(i)

for index, item in enumerate(lat_list):
    geo_list.append([str(lat_list[index]) + ', ' + str(lon_list[index])])

In [7]:
print(len(geo_list))

259415

In [8]:
# keep only unique values in list
unique_geo_list = []
for x in geo_list:
    if x not in unique_geo_list:
        unique_geo_list.append(x)
print(len(unique_geo_list))

66

In [9]:
charging_df = pd.DataFrame(pa_data)

In [10]:
charging_df.head()

,Station Name,MAC Address,Org Name,Start Date,Start Time Zone,End Date,End Time Zone,Transaction Date (Pacific Time),Total Duration (hh:mm:ss),Charging Time (hh:mm:ss),...,Longitude,Currency,Fee,Ended By,Plug In Event Id,Driver Postal Code,User ID,County,System S/N,Model Number
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/29/2011 20:17,PDT,7/29/2011 23:20,PDT,7/29/2011 23:20,3:03:32,1:54:03,...,-122.160309,USD,0.0,Plug Out at Vehicle,3,95124.0,3284.0,NaN,NaN,NaN
1,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 0:00,PDT,7/30/2011 0:02,PDT,7/30/2011 0:02,0:02:06,0:01:54,...,-122.160309,USD,0.0,Customer,4,94301.0,4169.0,NaN,NaN,NaN
2,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 8:16,PDT,7/30/2011 12:34,PDT,7/30/2011 12:34,4:17:32,4:17:28,...,-122.160309,USD,0.0,Plug Out at Vehicle,5,94301.0,4169.0,NaN,NaN,NaN
3,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 14:51,PDT,7/30/2011 16:55,PDT,7/30/2011 16:55,2:03:24,2:02:58,...,-122.160309,USD,0.0,Customer,6,94302.0,2545.0,NaN,NaN,NaN
4,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 18:51,PDT,7/30/2011 20:03,PDT,7/30/2011 20:03,1:11:24,0:43:54,...,-122.160309,USD,0.0,Plug Out at Vehicle,7,94043.0,3765.0,NaN,NaN,NaN

In [11]:
print(charging_df['EVSE ID'].nunique())
print(charging_df['MAC Address'].nunique())
print(charging_df['Station Name'].nunique())

51
83
47

There are 47 different Station names of which several have more than one charging stations.
We use MAC Address as unique identifier since EVSE ID has a lot of NAN values.

In [12]:
charging_df.drop(['Start Time Zone','End Time Zone', 'Transaction Date (Pacific Time)',
                'GHG Savings (kg)', 'Gasoline Savings (gallons)','Address 1','City', 
                'State/Province', 'Postal Code', 'Country', 'County', 'System S/N', 
                'Model Number','Org Name','EVSE ID','Energy (kWh)','Plug Type','Currency'], inplace= True, axis= 1)

charging_df.head(5)

,Station Name,MAC Address,Start Date,End Date,Total Duration (hh:mm:ss),Charging Time (hh:mm:ss),Port Type,Port Number,Latitude,Longitude,Fee,Ended By,Plug In Event Id,Driver Postal Code,User ID
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/29/2011 20:17,7/29/2011 23:20,3:03:32,1:54:03,Level 2,2,37.444572,-122.160309,0.0,Plug Out at Vehicle,3,95124.0,3284.0
1,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/30/2011 0:00,7/30/2011 0:02,0:02:06,0:01:54,Level 2,2,37.444572,-122.160309,0.0,Customer,4,94301.0,4169.0
2,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/30/2011 8:16,7/30/2011 12:34,4:17:32,4:17:28,Level 2,2,37.444572,-122.160309,0.0,Plug Out at Vehicle,5,94301.0,4169.0
3,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/30/2011 14:51,7/30/2011 16:55,2:03:24,2:02:58,Level 2,2,37.444572,-122.160309,0.0,Customer,6,94302.0,2545.0
4,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/30/2011 18:51,7/30/2011 20:03,1:11:24,0:43:54,Level 2,2,37.444572,-122.160309,0.0,Plug Out at Vehicle,7,94043.0,3765.0

Brainstorm: 
Create columns:
    - to see if user paid a fee or used a free charging station.
    - to display parking time (plugged in but not charging)

In [13]:
# Already changed
charging_df.columns = charging_df.columns.str.replace(' ', '_')
charging_df.columns = charging_df.columns.str.lower()
charging_df.columns = charging_df.columns.str.rstrip()

charging_df.head(1)

,station_name,mac_address,start_date,end_date,total_duration_(hh:mm:ss),charging_time_(hh:mm:ss),port_type,port_number,latitude,longitude,fee,ended_by,plug_in_event_id,driver_postal_code,user_id
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/29/2011 20:17,7/29/2011 23:20,3:03:32,1:54:03,Level 2,2,37.444572,-122.160309,0.0,Plug Out at Vehicle,3,95124.0,3284.0

In [14]:
charging_df = charging_df.rename(columns={'total_duration_(hh:mm:ss)': 'total_duration', "charging_time_(hh:mm:ss)": "charging_time"})
charging_df.head(1)

,station_name,mac_address,start_date,end_date,total_duration,charging_time,port_type,port_number,latitude,longitude,fee,ended_by,plug_in_event_id,driver_postal_code,user_id
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/29/2011 20:17,7/29/2011 23:20,3:03:32,1:54:03,Level 2,2,37.444572,-122.160309,0.0,Plug Out at Vehicle,3,95124.0,3284.0

In [17]:
charging_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259415 entries, 0 to 259414
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   station_name        259415 non-null  object
 1   mac_address         259415 non-null  object
 2   start_date          259415 non-null  object
 3   end_date            259415 non-null  object
 4   total_duration      259415 non-null  object
 5   charging_time       259415 non-null  object
 6   port_type           259406 non-null  object
 7   port_number         259415 non-null  int64
 8   latitude            259415 non-null  float64
 9   longitude           259415 non-null  float64
 10  fee                 259415 non-null  float64
 11  ended_by            259167 non-null  object
 12  plug_in_event_id    259415 non-null  int64
 13  driver_postal_code  251013 non-null  float64
 14  user_id             251738 non-null  object
dtypes: float64(4), int64(2), object(9)
memory usage: 29.7+ MB

In [25]:
date_cols = ["start_date", "end_date"]
duration_cols = ["total_duration", "charging_time"]

for col in date_cols:
     charging_df[date_cols] = charging_df[date_cols].apply(pd.to_datetime, errors = "coerce")


for col in duration_cols:
     charging_df[duration_cols] = charging_df[duration_cols].apply(pd.to_timedelta, errors="coerce")

In [47]:
# Check which end_dates have NaT
charging_df[charging_df.end_date.isnull()].head(5)

Empty DataFrame
Columns: [station_name, mac_address, start_date, end_date, total_duration, charging_time, port_type, port_number, latitude, longitude, fee, ended_by, plug_in_event_id, driver_postal_code, user_id]
Index: []

In [42]:
# replace NaT in end_date with start_date + total_duration
charging_df['end_date'] = charging_df['end_date'].fillna((charging_df['start_date'] + charging_df['total_duration']))

In [59]:
charging_df[charging_df.plug_in_event_id == 3535].head()

,station_name,mac_address,start_date,end_date,total_duration,charging_time,port_type,port_number,latitude,longitude,ended_by,plug_in_event_id,driver_postal_code,user_id,fee_bol,parking_time
18249,PALO ALTO CA / HIGH #4,000D6F0000A20F47,2014-01-09 17:19:00,2014-01-09 19:45:00,0 days 02:26:14,0 days 00:54:04,Level 2,2,37.443676,-122.162880,Plug Out at Vehicle,3535,94301.0,166781.0,False,0 days 01:32:10
29262,PALO ALTO CA / BRYANT #2,000D6F00009DCFC3,2014-12-18 13:14:00,2014-12-18 13:39:00,0 days 00:24:58,0 days 00:02:25,Level 2,2,37.446510,-122.162140,Plug Out at Vehicle,3535,94306.0,262799.0,False,0 days 00:22:33
84565,PALO ALTO CA / WEBSTER #1,0024:B100:0002:1146,2016-09-11 13:47:00,2016-09-11 17:27:00,0 days 03:40:30,0 days 03:33:05,Level 2,1,37.448284,-122.158272,Plug Out at Vehicle,3535,94303.0,337701,False,0 days 00:07:25
85341,PALO ALTO CA / HIGH #1,0024:B100:0002:10FE,2016-09-16 19:01:00,2016-09-16 21:40:00,0 days 02:39:13,0 days 01:08:14,Level 2,2,37.443558,-122.162849,Plug Out at Vehicle,3535,94061.0,358745,False,0 days 01:30:59
87321,PALO ALTO CA / MPL #6,000D:6F00:015B:7509,2016-09-30 19:29:00,2016-09-30 20:09:00,0 days 00:39:44,0 days 00:39:29,Level 2,1,37.422138,-122.113457,Plug Out at Vehicle,3535,94043.0,453469,False,0 days 00:00:15

In [49]:
charging_df.isnull().sum()

station_name             0
mac_address              0
start_date               0
end_date                 0
total_duration           0
charging_time            0
port_type                9
port_number              0
latitude                 0
longitude                0
fee                      0
ended_by               248
plug_in_event_id         0
driver_postal_code    8402
user_id               7677
dtype: int64

In [55]:
# create column fee_bol (True if user paid, False if charging was free), drop original fee column

import numpy as np

charging_df['fee_bol'] = np.where(charging_df['fee']== 0.0, False, True)

charging_df.drop(['fee'],inplace= True, axis= 1)

In [57]:
# create colum parking_time to display parking time (plugged in but not charging)

charging_df['parking_time'] = charging_df['total_duration'] - charging_df['charging_time']

Which year do we want to analyze?

unique identifier for each station plug = combination of plug ID and station name

In [60]:
# create column that displays weekday based on start_date

charging_df['weekday'] = charging_df['start_date'].dt.dayofweek

In [64]:
charging_df.head()

,station_name,mac_address,start_date,end_date,total_duration,charging_time,port_type,port_number,latitude,longitude,ended_by,plug_in_event_id,driver_postal_code,user_id,fee_bol,parking_time,weekday
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-29 20:17:00,2011-07-29 23:20:00,0 days 03:03:32,0 days 01:54:03,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,3,95124.0,3284.0,False,0 days 01:09:29,4
1,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 00:00:00,2011-07-30 00:02:00,0 days 00:02:06,0 days 00:01:54,Level 2,2,37.444572,-122.160309,Customer,4,94301.0,4169.0,False,0 days 00:00:12,5
2,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 08:16:00,2011-07-30 12:34:00,0 days 04:17:32,0 days 04:17:28,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,5,94301.0,4169.0,False,0 days 00:00:04,5
3,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 14:51:00,2011-07-30 16:55:00,0 days 02:03:24,0 days 02:02:58,Level 2,2,37.444572,-122.160309,Customer,6,94302.0,2545.0,False,0 days 00:00:26,5
4,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 18:51:00,2011-07-30 20:03:00,0 days 01:11:24,0 days 00:43:54,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,7,94043.0,3765.0,False,0 days 00:27:30,5

In [69]:
charging_df['weekday'].unique()

mymapp = {'0': 'Monday', '1': 'Tuesday', '2': 'Wednesday', '3': 'Thursday', '4': 'Friday', '5': 'Saturday', '6': 'Sunday'}

charging_df.applymap(lambda s: mymapp.get(s) if s in mymapp else s)

,station_name,mac_address,start_date,end_date,total_duration,charging_time,port_type,port_number,latitude,longitude,ended_by,plug_in_event_id,driver_postal_code,user_id,fee_bol,parking_time,weekday
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-29 20:17:00,2011-07-29 23:20:00,0 days 03:03:32,0 days 01:54:03,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,3,95124.0,3284.0,False,0 days 01:09:29,4
1,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 00:00:00,2011-07-30 00:02:00,0 days 00:02:06,0 days 00:01:54,Level 2,2,37.444572,-122.160309,Customer,4,94301.0,4169.0,False,0 days 00:00:12,5
2,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 08:16:00,2011-07-30 12:34:00,0 days 04:17:32,0 days 04:17:28,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,5,94301.0,4169.0,False,0 days 00:00:04,5
3,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 14:51:00,2011-07-30 16:55:00,0 days 02:03:24,0 days 02:02:58,Level 2,2,37.444572,-122.160309,Customer,6,94302.0,2545.0,False,0 days 00:00:26,5
4,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 18:51:00,2011-07-30 20:03:00,0 days 01:11:24,0 days 00:43:54,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,7,94043.0,3765.0,False,0 days 00:27:30,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259410,PALO ALTO CA / TED THOMPSON #3,0024:B100:0002:9F81,2020-12-31 16:39:00,2020-12-31 17:14:00,0 days 00:35:44,0 days 00:35:18,Level 2,2,37.428623,-122.144043,Plug Out at Vehicle,2369,94301.0,2024201,True,0 days 00:00:26,3
259411,PALO ALTO CA / WEBSTER #1,0024:B100:0002:4233,2020-12-31 16:48:00,2020-12-31 20:31:00,0 days 03:43:01,0 days 02:14:04,Level 2,2,37.448284,-122.158272,Plug Out at Vehicle,7255,94541.0,242661,True,0 days 01:28:57,3
259412,PALO ALTO CA / MPL #4,0024:B100:0003:CD37,2020-12-31 17:28:00,2021-01-01 10:56:00,0 days 17:28:14,0 days 05:08:12,Level 2,1,37.422104,-122.113510,Plug Out at Vehicle,455,94306.0,449995,True,0 days 12:20:02,3
259413,PALO ALTO CA / WEBSTER #1,0024:B100:0002:4233,2020-12-31 17:49:00,2020-12-31 21:55:00,0 days 04:05:34,0 days 03:53:42,Level 2,1,37.448284,-122.158272,Plug Out at Vehicle,7256,94552.0,804075,True,0 days 00:11:52,3
259414,PALO ALTO CA / CAMBRIDGE #4,0024:B100:0003:3A0A,2020-12-31 18:19:00,2020-12-31 19:01:00,0 days 00:42:07,0 days 00:41:44,Level 2,1,37.426178,-122.146034,Plug Out at Vehicle,2302,94305.0,2022651,True,0 days 00:00:23,3