In [1]:
import pandas as pd
pa_data = pd.read_csv('./data/Charging_PA.csv',sep=',')

/usr/local/Caskroom/miniconda/base/envs/sql-practice/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (29,30,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
print(pa_data.info())
print(pa_data['Port Number'].value_counts().max)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259415 entries, 0 to 259414
Data columns (total 33 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Station Name                     259415 non-null  object
 1   MAC Address                      259415 non-null  object
 2   Org Name                         259415 non-null  object
 3   Start Date                       259415 non-null  object
 4   Start Time Zone                  259415 non-null  object
 5   End Date                         259415 non-null  object
 6   End Time Zone                    259415 non-null  object
 7   Transaction Date (Pacific Time)  259206 non-null  object
 8   Total Duration (hh:mm:ss)        259415 non-null  object
 9   Charging Time (hh:mm:ss)         259415 non-null  object
 10  Energy (kWh)                     259415 non-null  float64
 11  GHG Savings (kg)                 259415 non-null  float64
 12  Gasoline Savings (gallons)       259415 non-null  float64
 13  Port Type                        259406 non-null  object
 14  Port Number                      259415 non-null  int64
 15  Plug Type                        259415 non-null  object
 16  EVSE ID                          180467 non-null  float64
 17  Address 1                        259415 non-null  object
 18  City                             259415 non-null  object
 19  State/Province                   259415 non-null  object
 20  Postal Code                      259415 non-null  int64
 21  Country                          259415 non-null  object
 22  Latitude                         259415 non-null  float64
 23  Longitude                        259415 non-null  float64
 24  Currency                         257627 non-null  object
 25  Fee                              259415 non-null  float64
 26  Ended By                         259167 non-null  object
 27  Plug In Event Id                 259415 non-null  int64
 28  Driver Postal Code               251013 non-null  float64
 29  User ID                          251738 non-null  object
 30  County                           174750 non-null  object
 31  System S/N                       180467 non-null  float64
 32  Model Number                     180467 non-null  object
dtypes: float64(9), int64(3), object(21)
memory usage: 65.3+ MB
None
<bound method NDFrame._add_numeric_operations.<locals>.max of 2    153477
1    105938
Name: Port Number, dtype: int64>

In [3]:
print(pa_data[['Latitude','Longitude']])

         Latitude   Longitude
0       37.444572 -122.160309
1       37.444572 -122.160309
2       37.444572 -122.160309
3       37.444572 -122.160309
4       37.444572 -122.160309
...           ...         ...
259410  37.428623 -122.144043
259411  37.448284 -122.158272
259412  37.422104 -122.113510
259413  37.448284 -122.158272
259414  37.426178 -122.146034

[259415 rows x 2 columns]

In [4]:
# Get all lat and long from chargingstation in one list
lat_list = []
lon_list = []
geo_list = []

for i in pa_data['Latitude']:
    lat_list.append(i)

for i in pa_data['Longitude']:
    lon_list.append(i)

for index, item in enumerate(lat_list):
    geo_list.append([str(lat_list[index]) + ', ' + str(lon_list[index])])

In [5]:
print(len(geo_list))

259415

In [6]:
# keep only unique values in list
unique_geo_list = []
for x in geo_list:
    if x not in unique_geo_list:
        unique_geo_list.append(x)
print(len(unique_geo_list))

66

In [15]:
charging_df = pd.DataFrame(pa_data)

In [16]:
charging_df.head()

,Station Name,MAC Address,Org Name,Start Date,Start Time Zone,End Date,End Time Zone,Transaction Date (Pacific Time),Total Duration (hh:mm:ss),Charging Time (hh:mm:ss),...,Longitude,Currency,Fee,Ended By,Plug In Event Id,Driver Postal Code,User ID,County,System S/N,Model Number
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/29/2011 20:17,PDT,7/29/2011 23:20,PDT,7/29/2011 23:20,3:03:32,1:54:03,...,-122.160309,USD,0.0,Plug Out at Vehicle,3,95124.0,3284.0,NaN,NaN,NaN
1,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 0:00,PDT,7/30/2011 0:02,PDT,7/30/2011 0:02,0:02:06,0:01:54,...,-122.160309,USD,0.0,Customer,4,94301.0,4169.0,NaN,NaN,NaN
2,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 8:16,PDT,7/30/2011 12:34,PDT,7/30/2011 12:34,4:17:32,4:17:28,...,-122.160309,USD,0.0,Plug Out at Vehicle,5,94301.0,4169.0,NaN,NaN,NaN
3,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 14:51,PDT,7/30/2011 16:55,PDT,7/30/2011 16:55,2:03:24,2:02:58,...,-122.160309,USD,0.0,Customer,6,94302.0,2545.0,NaN,NaN,NaN
4,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 18:51,PDT,7/30/2011 20:03,PDT,7/30/2011 20:03,1:11:24,0:43:54,...,-122.160309,USD,0.0,Plug Out at Vehicle,7,94043.0,3765.0,NaN,NaN,NaN

In [17]:
print(charging_df['EVSE ID'].nunique())
print(charging_df['MAC Address'].nunique())
print(charging_df['Station Name'].nunique())

51
83
47

There are 47 different Station names of which several have more than one charging stations.
We use MAC Address as unique identifier since EVSE ID has a lot of NAN values.

In [18]:
charging_df.drop(['Start Time Zone','End Time Zone', 'Transaction Date (Pacific Time)',
                'GHG Savings (kg)', 'Gasoline Savings (gallons)','Address 1','City', 
                'State/Province', 'Postal Code', 'Country', 'County', 'System S/N', 
                'Model Number','Org Name','EVSE ID','Energy (kWh)','Plug Type','Currency'], inplace= True, axis= 1)

charging_df.head(5)

,Station Name,MAC Address,Start Date,End Date,Total Duration (hh:mm:ss),Charging Time (hh:mm:ss),Port Type,Port Number,Latitude,Longitude,Fee,Ended By,Plug In Event Id,Driver Postal Code,User ID
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/29/2011 20:17,7/29/2011 23:20,3:03:32,1:54:03,Level 2,2,37.444572,-122.160309,0.0,Plug Out at Vehicle,3,95124.0,3284.0
1,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/30/2011 0:00,7/30/2011 0:02,0:02:06,0:01:54,Level 2,2,37.444572,-122.160309,0.0,Customer,4,94301.0,4169.0
2,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/30/2011 8:16,7/30/2011 12:34,4:17:32,4:17:28,Level 2,2,37.444572,-122.160309,0.0,Plug Out at Vehicle,5,94301.0,4169.0
3,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/30/2011 14:51,7/30/2011 16:55,2:03:24,2:02:58,Level 2,2,37.444572,-122.160309,0.0,Customer,6,94302.0,2545.0
4,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/30/2011 18:51,7/30/2011 20:03,1:11:24,0:43:54,Level 2,2,37.444572,-122.160309,0.0,Plug Out at Vehicle,7,94043.0,3765.0

Brainstorm: 
Create columns:
    - to see if user paid a fee or used a free charging station.
    - to display parking time (plugged in but not charging)

In [22]:
# Already dropped
# charging_df.columns = charging_df.columns.str.replace(' ', '_')
# charging_df.columns = charging_df.columns.str.lower()
# charging_df.columns = charging_df.columns.str.rstrip()

charging_df.head(1)

,station_name,mac_address,start_date,end_date,total_duration_(hh:mm:ss),charging_time_(hh:mm:ss),port_type,port_number,latitude,longitude,fee,ended_by,plug_in_event_id,driver_postal_code,user_id
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/29/2011 20:17,7/29/2011 23:20,3:03:32,1:54:03,Level 2,2,37.444572,-122.160309,0.0,Plug Out at Vehicle,3,95124.0,3284.0

In [27]:
charging_df = charging_df.rename(columns={'total_duration_(hh:mm:ss)': 'total_duration', "charging_time_(hh:mm:ss)": "charging_time"})
charging_df.head(1)

,station_name,mac_address,start_date,end_date,total_duration,charging_time,port_type,port_number,latitude,longitude,fee,ended_by,plug_in_event_id,driver_postal_code,user_id
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/29/2011 20:17,7/29/2011 23:20,3:03:32,1:54:03,Level 2,2,37.444572,-122.160309,0.0,Plug Out at Vehicle,3,95124.0,3284.0