In [74]:
import pandas as pd
pa_data = pd.read_csv('./data/Charging_PA.csv',sep=',')

/usr/local/Caskroom/miniconda/base/envs/sql-practice/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (29,30,32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [75]:
print(pa_data.info())
print(pa_data['Port Number'].value_counts().max)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259415 entries, 0 to 259414
Data columns (total 33 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Station Name                     259415 non-null  object
 1   MAC Address                      259415 non-null  object
 2   Org Name                         259415 non-null  object
 3   Start Date                       259415 non-null  object
 4   Start Time Zone                  259415 non-null  object
 5   End Date                         259415 non-null  object
 6   End Time Zone                    259415 non-null  object
 7   Transaction Date (Pacific Time)  259206 non-null  object
 8   Total Duration (hh:mm:ss)        259415 non-null  object
 9   Charging Time (hh:mm:ss)         259415 non-null  object
 10  Energy (kWh)                     259415 non-null  float64
 11  GHG Savings (kg)                 259415 non-null  float64
 12  Gasoline Savings (gallons)       259415 non-null  float64
 13  Port Type                        259406 non-null  object
 14  Port Number                      259415 non-null  int64
 15  Plug Type                        259415 non-null  object
 16  EVSE ID                          180467 non-null  float64
 17  Address 1                        259415 non-null  object
 18  City                             259415 non-null  object
 19  State/Province                   259415 non-null  object
 20  Postal Code                      259415 non-null  int64
 21  Country                          259415 non-null  object
 22  Latitude                         259415 non-null  float64
 23  Longitude                        259415 non-null  float64
 24  Currency                         257627 non-null  object
 25  Fee                              259415 non-null  float64
 26  Ended By                         259167 non-null  object
 27  Plug In Event Id                 259415 non-null  int64
 28  Driver Postal Code               251013 non-null  float64
 29  User ID                          251738 non-null  object
 30  County                           174750 non-null  object
 31  System S/N                       180467 non-null  float64
 32  Model Number                     180467 non-null  object
dtypes: float64(9), int64(3), object(21)
memory usage: 65.3+ MB
None
<bound method NDFrame._add_numeric_operations.<locals>.max of 2    153477
1    105938
Name: Port Number, dtype: int64>

In [76]:
print(pa_data[['Latitude','Longitude']])

         Latitude   Longitude
0       37.444572 -122.160309
1       37.444572 -122.160309
2       37.444572 -122.160309
3       37.444572 -122.160309
4       37.444572 -122.160309
...           ...         ...
259410  37.428623 -122.144043
259411  37.448284 -122.158272
259412  37.422104 -122.113510
259413  37.448284 -122.158272
259414  37.426178 -122.146034

[259415 rows x 2 columns]

In [77]:
# Get all lat and long from chargingstation in one list
lat_list = []
lon_list = []
geo_list = []

for i in pa_data['Latitude']:
    lat_list.append(i)

for i in pa_data['Longitude']:
    lon_list.append(i)

for index, item in enumerate(lat_list):
    geo_list.append([str(lat_list[index]) + ', ' + str(lon_list[index])])

In [78]:
print(len(geo_list))

259415

In [79]:
# keep only unique values in list
unique_geo_list = []
for x in geo_list:
    if x not in unique_geo_list:
        unique_geo_list.append(x)
print(len(unique_geo_list))

66

In [80]:
charging_df = pd.DataFrame(pa_data)

In [81]:
charging_df.head()

,Station Name,MAC Address,Org Name,Start Date,Start Time Zone,End Date,End Time Zone,Transaction Date (Pacific Time),Total Duration (hh:mm:ss),Charging Time (hh:mm:ss),...,Longitude,Currency,Fee,Ended By,Plug In Event Id,Driver Postal Code,User ID,County,System S/N,Model Number
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/29/2011 20:17,PDT,7/29/2011 23:20,PDT,7/29/2011 23:20,3:03:32,1:54:03,...,-122.160309,USD,0.0,Plug Out at Vehicle,3,95124.0,3284.0,NaN,NaN,NaN
1,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 0:00,PDT,7/30/2011 0:02,PDT,7/30/2011 0:02,0:02:06,0:01:54,...,-122.160309,USD,0.0,Customer,4,94301.0,4169.0,NaN,NaN,NaN
2,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 8:16,PDT,7/30/2011 12:34,PDT,7/30/2011 12:34,4:17:32,4:17:28,...,-122.160309,USD,0.0,Plug Out at Vehicle,5,94301.0,4169.0,NaN,NaN,NaN
3,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 14:51,PDT,7/30/2011 16:55,PDT,7/30/2011 16:55,2:03:24,2:02:58,...,-122.160309,USD,0.0,Customer,6,94302.0,2545.0,NaN,NaN,NaN
4,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,City of Palo Alto,7/30/2011 18:51,PDT,7/30/2011 20:03,PDT,7/30/2011 20:03,1:11:24,0:43:54,...,-122.160309,USD,0.0,Plug Out at Vehicle,7,94043.0,3765.0,NaN,NaN,NaN

In [82]:
print(charging_df['EVSE ID'].nunique())
print(charging_df['MAC Address'].nunique())
print(charging_df['Station Name'].nunique())

51
83
47

There are 47 different Station names of which several have more than one charging stations.
We use MAC Address as unique identifier since EVSE ID has a lot of NAN values.

In [83]:
charging_df.drop(['Start Time Zone','End Time Zone', 'Transaction Date (Pacific Time)',
                'GHG Savings (kg)', 'Gasoline Savings (gallons)','Address 1','City', 
                'State/Province', 'Postal Code', 'Country', 'County', 'System S/N', 
                'Model Number','Org Name','EVSE ID','Energy (kWh)','Plug Type','Currency'], inplace= True, axis= 1)

charging_df.head(5)

,Station Name,MAC Address,Start Date,End Date,Total Duration (hh:mm:ss),Charging Time (hh:mm:ss),Port Type,Port Number,Latitude,Longitude,Fee,Ended By,Plug In Event Id,Driver Postal Code,User ID
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/29/2011 20:17,7/29/2011 23:20,3:03:32,1:54:03,Level 2,2,37.444572,-122.160309,0.0,Plug Out at Vehicle,3,95124.0,3284.0
1,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/30/2011 0:00,7/30/2011 0:02,0:02:06,0:01:54,Level 2,2,37.444572,-122.160309,0.0,Customer,4,94301.0,4169.0
2,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/30/2011 8:16,7/30/2011 12:34,4:17:32,4:17:28,Level 2,2,37.444572,-122.160309,0.0,Plug Out at Vehicle,5,94301.0,4169.0
3,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/30/2011 14:51,7/30/2011 16:55,2:03:24,2:02:58,Level 2,2,37.444572,-122.160309,0.0,Customer,6,94302.0,2545.0
4,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/30/2011 18:51,7/30/2011 20:03,1:11:24,0:43:54,Level 2,2,37.444572,-122.160309,0.0,Plug Out at Vehicle,7,94043.0,3765.0

Brainstorm: 
Create columns:
    - to see if user paid a fee or used a free charging station.
    - to display parking time (plugged in but not charging)

In [84]:
# Already changed
charging_df.columns = charging_df.columns.str.replace(' ', '_')
charging_df.columns = charging_df.columns.str.lower()
charging_df.columns = charging_df.columns.str.rstrip()

charging_df.head(1)

,station_name,mac_address,start_date,end_date,total_duration_(hh:mm:ss),charging_time_(hh:mm:ss),port_type,port_number,latitude,longitude,fee,ended_by,plug_in_event_id,driver_postal_code,user_id
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/29/2011 20:17,7/29/2011 23:20,3:03:32,1:54:03,Level 2,2,37.444572,-122.160309,0.0,Plug Out at Vehicle,3,95124.0,3284.0

In [85]:
charging_df = charging_df.rename(columns={'total_duration_(hh:mm:ss)': 'total_duration', "charging_time_(hh:mm:ss)": "charging_time"})
charging_df.head(1)

,station_name,mac_address,start_date,end_date,total_duration,charging_time,port_type,port_number,latitude,longitude,fee,ended_by,plug_in_event_id,driver_postal_code,user_id
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,7/29/2011 20:17,7/29/2011 23:20,3:03:32,1:54:03,Level 2,2,37.444572,-122.160309,0.0,Plug Out at Vehicle,3,95124.0,3284.0

In [86]:
charging_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259415 entries, 0 to 259414
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   station_name        259415 non-null  object
 1   mac_address         259415 non-null  object
 2   start_date          259415 non-null  object
 3   end_date            259415 non-null  object
 4   total_duration      259415 non-null  object
 5   charging_time       259415 non-null  object
 6   port_type           259406 non-null  object
 7   port_number         259415 non-null  int64
 8   latitude            259415 non-null  float64
 9   longitude           259415 non-null  float64
 10  fee                 259415 non-null  float64
 11  ended_by            259167 non-null  object
 12  plug_in_event_id    259415 non-null  int64
 13  driver_postal_code  251013 non-null  float64
 14  user_id             251738 non-null  object
dtypes: float64(4), int64(2), object(9)
memory usage: 29.7+ MB

In [87]:
date_cols = ["start_date", "end_date"]
duration_cols = ["total_duration", "charging_time"]

for col in date_cols:
     charging_df[date_cols] = charging_df[date_cols].apply(pd.to_datetime, errors = "coerce")


for col in duration_cols:
     charging_df[duration_cols] = charging_df[duration_cols].apply(pd.to_timedelta, errors="coerce")

In [88]:
# Check which end_dates have NaT
charging_df[charging_df.end_date.isnull()].head(5)

,station_name,mac_address,start_date,end_date,total_duration,charging_time,port_type,port_number,latitude,longitude,fee,ended_by,plug_in_event_id,driver_postal_code,user_id
116186,PALO ALTO CA / TED THOMPSON #1,0024:B100:0002:1323,2017-04-20 13:09:00,NaT,0 days 06:17:46,0 days 03:39:31,Level 2,1,37.428318,-122.144188,0.0,Plug Out at Vehicle,3535,95008.0,381525
116193,PALO ALTO CA / HIGH #2,0024:B100:0002:5959,2017-04-20 14:05:00,NaT,0 days 03:49:40,0 days 02:36:34,Level 2,1,37.443146,-122.163017,0.0,Customer,781,94538.0,522899
116196,PALO ALTO CA / HIGH #3,0024:B100:0002:5939,2017-04-20 14:10:00,NaT,0 days 04:53:06,0 days 04:02:26,Level 2,2,37.443127,-122.163033,0.0,Plug Out at Vehicle,824,94087.0,172943
116197,PALO ALTO CA / CAMBRIDGE #1,0024:B100:0002:1329,2017-04-20 14:15:00,NaT,0 days 04:54:39,0 days 02:01:02,Level 2,2,37.426155,-122.146065,0.0,Plug Out at Vehicle,4142,94015.0,364595
116198,PALO ALTO CA / HIGH #2,0024:B100:0002:5959,2017-04-20 14:16:00,NaT,0 days 04:47:49,0 days 02:34:38,Level 2,2,37.443146,-122.163017,0.0,Plug Out at Vehicle,782,94538.0,667571

In [89]:
# replace NaT in end_date with start_date + total_duration
charging_df['end_date'] = charging_df['end_date'].fillna((charging_df['start_date'] + charging_df['total_duration']))

In [90]:
charging_df[charging_df.plug_in_event_id == 3535].head()

,station_name,mac_address,start_date,end_date,total_duration,charging_time,port_type,port_number,latitude,longitude,fee,ended_by,plug_in_event_id,driver_postal_code,user_id
18249,PALO ALTO CA / HIGH #4,000D6F0000A20F47,2014-01-09 17:19:00,2014-01-09 19:45:00,0 days 02:26:14,0 days 00:54:04,Level 2,2,37.443676,-122.162880,0.0,Plug Out at Vehicle,3535,94301.0,166781.0
29262,PALO ALTO CA / BRYANT #2,000D6F00009DCFC3,2014-12-18 13:14:00,2014-12-18 13:39:00,0 days 00:24:58,0 days 00:02:25,Level 2,2,37.446510,-122.162140,0.0,Plug Out at Vehicle,3535,94306.0,262799.0
84565,PALO ALTO CA / WEBSTER #1,0024:B100:0002:1146,2016-09-11 13:47:00,2016-09-11 17:27:00,0 days 03:40:30,0 days 03:33:05,Level 2,1,37.448284,-122.158272,0.0,Plug Out at Vehicle,3535,94303.0,337701
85341,PALO ALTO CA / HIGH #1,0024:B100:0002:10FE,2016-09-16 19:01:00,2016-09-16 21:40:00,0 days 02:39:13,0 days 01:08:14,Level 2,2,37.443558,-122.162849,0.0,Plug Out at Vehicle,3535,94061.0,358745
87321,PALO ALTO CA / MPL #6,000D:6F00:015B:7509,2016-09-30 19:29:00,2016-09-30 20:09:00,0 days 00:39:44,0 days 00:39:29,Level 2,1,37.422138,-122.113457,0.0,Plug Out at Vehicle,3535,94043.0,453469

In [91]:
charging_df.isnull().sum()

station_name             0
mac_address              0
start_date               0
end_date                 0
total_duration           0
charging_time            0
port_type                9
port_number              0
latitude                 0
longitude                0
fee                      0
ended_by               248
plug_in_event_id         0
driver_postal_code    8402
user_id               7677
dtype: int64

In [92]:
# create column fee_bol (True if user paid, False if charging was free), drop original fee column

import numpy as np

charging_df['fee_bol'] = np.where(charging_df['fee']== 0.0, False, True)

charging_df.drop(['fee'],inplace= True, axis= 1)

In [93]:
# create colum parking_time to display parking time (plugged in but not charging)

charging_df['parking_time'] = charging_df['total_duration'] - charging_df['charging_time']

Which year do we want to analyze?

unique identifier for each station plug = combination of plug ID and station name

In [94]:
# create column that displays weekday based on start_date

charging_df['weekday'] = charging_df['start_date'].dt.dayofweek

In [95]:
charging_df.head()

,station_name,mac_address,start_date,end_date,total_duration,charging_time,port_type,port_number,latitude,longitude,ended_by,plug_in_event_id,driver_postal_code,user_id,fee_bol,parking_time,weekday
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-29 20:17:00,2011-07-29 23:20:00,0 days 03:03:32,0 days 01:54:03,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,3,95124.0,3284.0,False,0 days 01:09:29,4
1,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 00:00:00,2011-07-30 00:02:00,0 days 00:02:06,0 days 00:01:54,Level 2,2,37.444572,-122.160309,Customer,4,94301.0,4169.0,False,0 days 00:00:12,5
2,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 08:16:00,2011-07-30 12:34:00,0 days 04:17:32,0 days 04:17:28,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,5,94301.0,4169.0,False,0 days 00:00:04,5
3,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 14:51:00,2011-07-30 16:55:00,0 days 02:03:24,0 days 02:02:58,Level 2,2,37.444572,-122.160309,Customer,6,94302.0,2545.0,False,0 days 00:00:26,5
4,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 18:51:00,2011-07-30 20:03:00,0 days 01:11:24,0 days 00:43:54,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,7,94043.0,3765.0,False,0 days 00:27:30,5

In [96]:
charging_df['weekday'].unique()

mymapp = {'0': 'Monday', '1': 'Tuesday', '2': 'Wednesday', '3': 'Thursday', '4': 'Friday', '5': 'Saturday', '6': 'Sunday'}

charging_df.applymap(lambda s: mymapp.get(s) if s in mymapp else s)

,station_name,mac_address,start_date,end_date,total_duration,charging_time,port_type,port_number,latitude,longitude,ended_by,plug_in_event_id,driver_postal_code,user_id,fee_bol,parking_time,weekday
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-29 20:17:00,2011-07-29 23:20:00,0 days 03:03:32,0 days 01:54:03,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,3,95124.0,3284.0,False,0 days 01:09:29,4
1,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 00:00:00,2011-07-30 00:02:00,0 days 00:02:06,0 days 00:01:54,Level 2,2,37.444572,-122.160309,Customer,4,94301.0,4169.0,False,0 days 00:00:12,5
2,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 08:16:00,2011-07-30 12:34:00,0 days 04:17:32,0 days 04:17:28,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,5,94301.0,4169.0,False,0 days 00:00:04,5
3,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 14:51:00,2011-07-30 16:55:00,0 days 02:03:24,0 days 02:02:58,Level 2,2,37.444572,-122.160309,Customer,6,94302.0,2545.0,False,0 days 00:00:26,5
4,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 18:51:00,2011-07-30 20:03:00,0 days 01:11:24,0 days 00:43:54,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,7,94043.0,3765.0,False,0 days 00:27:30,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259410,PALO ALTO CA / TED THOMPSON #3,0024:B100:0002:9F81,2020-12-31 16:39:00,2020-12-31 17:14:00,0 days 00:35:44,0 days 00:35:18,Level 2,2,37.428623,-122.144043,Plug Out at Vehicle,2369,94301.0,2024201,True,0 days 00:00:26,3
259411,PALO ALTO CA / WEBSTER #1,0024:B100:0002:4233,2020-12-31 16:48:00,2020-12-31 20:31:00,0 days 03:43:01,0 days 02:14:04,Level 2,2,37.448284,-122.158272,Plug Out at Vehicle,7255,94541.0,242661,True,0 days 01:28:57,3
259412,PALO ALTO CA / MPL #4,0024:B100:0003:CD37,2020-12-31 17:28:00,2021-01-01 10:56:00,0 days 17:28:14,0 days 05:08:12,Level 2,1,37.422104,-122.113510,Plug Out at Vehicle,455,94306.0,449995,True,0 days 12:20:02,3
259413,PALO ALTO CA / WEBSTER #1,0024:B100:0002:4233,2020-12-31 17:49:00,2020-12-31 21:55:00,0 days 04:05:34,0 days 03:53:42,Level 2,1,37.448284,-122.158272,Plug Out at Vehicle,7256,94552.0,804075,True,0 days 00:11:52,3
259414,PALO ALTO CA / CAMBRIDGE #4,0024:B100:0003:3A0A,2020-12-31 18:19:00,2020-12-31 19:01:00,0 days 00:42:07,0 days 00:41:44,Level 2,1,37.426178,-122.146034,Plug Out at Vehicle,2302,94305.0,2022651,True,0 days 00:00:23,3

In [97]:
def make_weekday_names(row):
    if row['weekday'] == 0:
        return 'Monday'
    if row['weekday'] == 1:
        return 'Tuesday'
    if row['weekday'] == 2:
        return 'Wednesday'
    if row['weekday'] == 3:
        return 'Thursday'
    if row['weekday'] == 4:
        return 'Friday'
    if row['weekday'] == 5:
        return 'Saturday'
    if row['weekday'] == 6:
        return 'Sunday'

In [98]:
charging_df['weekday'] = charging_df.apply(lambda row : make_weekday_names(row), axis=1)
charging_df.head(4)

,station_name,mac_address,start_date,end_date,total_duration,charging_time,port_type,port_number,latitude,longitude,ended_by,plug_in_event_id,driver_postal_code,user_id,fee_bol,parking_time,weekday
0,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-29 20:17:00,2011-07-29 23:20:00,0 days 03:03:32,0 days 01:54:03,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,3,95124.0,3284.0,False,0 days 01:09:29,Friday
1,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 00:00:00,2011-07-30 00:02:00,0 days 00:02:06,0 days 00:01:54,Level 2,2,37.444572,-122.160309,Customer,4,94301.0,4169.0,False,0 days 00:00:12,Saturday
2,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 08:16:00,2011-07-30 12:34:00,0 days 04:17:32,0 days 04:17:28,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,5,94301.0,4169.0,False,0 days 00:00:04,Saturday
3,PALO ALTO CA / HAMILTON #1,000D:6F00:015A:9D76,2011-07-30 14:51:00,2011-07-30 16:55:00,0 days 02:03:24,0 days 02:02:58,Level 2,2,37.444572,-122.160309,Customer,6,94302.0,2545.0,False,0 days 00:00:26,Saturday

In [99]:
def make_mac_same(row):
    return row['mac_address'].replace(':','')

In [100]:
charging_df['mac_address'] = charging_df.apply(lambda row : make_mac_same(row), axis=1)
charging_df.head(4)

,station_name,mac_address,start_date,end_date,total_duration,charging_time,port_type,port_number,latitude,longitude,ended_by,plug_in_event_id,driver_postal_code,user_id,fee_bol,parking_time,weekday
0,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,2011-07-29 20:17:00,2011-07-29 23:20:00,0 days 03:03:32,0 days 01:54:03,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,3,95124.0,3284.0,False,0 days 01:09:29,Friday
1,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,2011-07-30 00:00:00,2011-07-30 00:02:00,0 days 00:02:06,0 days 00:01:54,Level 2,2,37.444572,-122.160309,Customer,4,94301.0,4169.0,False,0 days 00:00:12,Saturday
2,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,2011-07-30 08:16:00,2011-07-30 12:34:00,0 days 04:17:32,0 days 04:17:28,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,5,94301.0,4169.0,False,0 days 00:00:04,Saturday
3,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,2011-07-30 14:51:00,2011-07-30 16:55:00,0 days 02:03:24,0 days 02:02:58,Level 2,2,37.444572,-122.160309,Customer,6,94302.0,2545.0,False,0 days 00:00:26,Saturday

In [101]:
def make_unique_id(row):
    return str(row['mac_address']) + '_' +  str(row['port_number'])

charging_df['unique_plug_id'] = charging_df.apply(lambda row : make_unique_id(row), axis=1)

In [102]:
charging_df['index1'] = charging_df.index

In [111]:
# change order of columns, put unique_plug_id in front, drop MAC ID

charging_df = charging_df[['station_name',
                            'unique_plug_id', 
                            'start_date',
                            'end_date',
                            'total_duration',
                            'charging_time',
                            'parking_time',
                            'port_type',
                            'port_number',
                            'latitude',
                            'longitude',
                            'ended_by', 
                            'plug_in_event_id',
                            'driver_postal_code', 
                            'user_id',
                            'fee_bol', 
                            'weekday']]

In [112]:
charging_df.head()

,station_name,unique_plug_id,start_date,end_date,total_duration,charging_time,parking_time,port_type,port_number,latitude,longitude,ended_by,plug_in_event_id,driver_postal_code,user_id,fee_bol,weekday
0,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76_2,2011-07-29 20:17:00,2011-07-29 23:20:00,0 days 03:03:32,0 days 01:54:03,0 days 01:09:29,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,3,95124.0,3284.0,False,Friday
1,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76_2,2011-07-30 00:00:00,2011-07-30 00:02:00,0 days 00:02:06,0 days 00:01:54,0 days 00:00:12,Level 2,2,37.444572,-122.160309,Customer,4,94301.0,4169.0,False,Saturday
2,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76_2,2011-07-30 08:16:00,2011-07-30 12:34:00,0 days 04:17:32,0 days 04:17:28,0 days 00:00:04,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,5,94301.0,4169.0,False,Saturday
3,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76_2,2011-07-30 14:51:00,2011-07-30 16:55:00,0 days 02:03:24,0 days 02:02:58,0 days 00:00:26,Level 2,2,37.444572,-122.160309,Customer,6,94302.0,2545.0,False,Saturday
4,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76_2,2011-07-30 18:51:00,2011-07-30 20:03:00,0 days 01:11:24,0 days 00:43:54,0 days 00:27:30,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,7,94043.0,3765.0,False,Saturday

In [104]:
charging_2020 = charging_df.query('start_date >= "2020-01-01" & start_date <= "2020-12-31"')
charging_2019 = charging_df.query('start_date >= "2019-01-01" & start_date <= "2019-12-31"')
charging_2018 = charging_df.query('start_date >= "2018-01-01" & start_date <= "2018-12-31"')
charging_2017 = charging_df.query('start_date >= "2017-01-01" & start_date <= "2017-12-31"')
charging_2016 = charging_df.query('start_date >= "2016-01-01" & start_date <= "2016-12-31"')
charging_2015 = charging_df.query('start_date >= "2015-01-01" & start_date <= "2015-12-31"')
charging_2014 = charging_df.query('start_date >= "2014-01-01" & start_date <= "2014-12-31"')
charging_2013 = charging_df.query('start_date >= "2013-01-01" & start_date <= "2013-12-31"')
charging_2012 = charging_df.query('start_date >= "2012-01-01" & start_date <= "2012-12-31"')
charging_2011 = charging_df.query('start_date >= "2011-01-01" & start_date <= "2011-12-31"')

In [105]:
charging_2019.head()

,station_name,mac_address,start_date,end_date,total_duration,charging_time,port_type,port_number,latitude,longitude,ended_by,plug_in_event_id,driver_postal_code,user_id,fee_bol,parking_time,weekday,unique_plug_id,index1
191586,PALO ALTO CA / WEBSTER #3,0024B10000024277,2019-01-01 08:46:00,2019-01-01 10:58:00,0 days 02:11:14,0 days 02:06:39,Level 2,1,37.448273,-122.158234,Plug Out at Vehicle,1546361212,94601.0,492265.0,True,0 days 00:04:35,Tuesday,0024B10000024277_1,191586
191587,PALO ALTO CA / BRYANT #6,0024B10000026B43,2019-01-01 09:18:00,2019-01-01 10:25:00,0 days 01:07:23,0 days 01:06:51,Level 2,1,37.446667,-122.162170,Plug Out at Vehicle,2951,94025.0,3174411.0,True,0 days 00:00:32,Tuesday,0024B10000026B43_1,191587
191588,PALO ALTO CA / BRYANT #1,000D6F00009D9A1B,2019-01-01 09:19:00,2019-01-01 18:36:00,0 days 09:16:18,0 days 03:34:31,Level 2,2,37.446613,-122.162308,Plug Out at Vehicle,3524,94404.0,2358991.0,True,0 days 05:41:47,Tuesday,000D6F00009D9A1B_2,191588
191589,PALO ALTO CA / BRYANT #5,0024B10000026D51,2019-01-01 09:46:00,2019-01-01 11:35:00,0 days 01:49:47,0 days 01:49:26,Level 2,1,37.446690,-122.162231,Plug Out at Vehicle,2792,94025.0,555879.0,True,0 days 00:00:21,Tuesday,0024B10000026D51_1,191589
191590,PALO ALTO CA / HIGH #4,0024B10000021327,2019-01-01 09:54:00,2019-01-01 11:25:00,0 days 01:31:12,0 days 01:30:53,Level 2,2,37.443138,-122.163239,Plug Out at Vehicle,2416,94305.0,3171851.0,True,0 days 00:00:19,Tuesday,0024B10000021327_2,191590

### Potential Research Questions

Identifying charging behavior patterns in relation to location specifics - Is Palo Alto a best practice example? If yes, what can other cities (e.g. MUC) learn from them in terms of charging infrastructure?

* Impact of COVID
* crisis 2013/2014
* idle times
* identify usage patterns according to location c(What are peak hours? Difference between weekdays / weekends?, per month? per year? avg. charging time, avg. parking time, idle times)
* Is Palo Alto best practice? (define KPIs, what makes a best practice? Ideas: low idle times, high ratio of charging stations per EV, high coverage?)
* How does MUC compare?
* Which stations were added newly each year? compare with MUC

Potential categories: living, working, shopping, recreation

In [106]:
charging_2011['idle_time'] = charging_2011['start_date'].diff()

/var/folders/sf/f246gb_12f34zdpx92g_9b180000gn/T/ipykernel_7062/2485899238.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  charging_2011['idle_time'] = charging_2011['start_date'].diff()

In [107]:
charging_2011.head()

,station_name,mac_address,start_date,end_date,total_duration,charging_time,port_type,port_number,latitude,longitude,ended_by,plug_in_event_id,driver_postal_code,user_id,fee_bol,parking_time,weekday,unique_plug_id,index1,idle_time
0,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,2011-07-29 20:17:00,2011-07-29 23:20:00,0 days 03:03:32,0 days 01:54:03,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,3,95124.0,3284.0,False,0 days 01:09:29,Friday,000D6F00015A9D76_2,0,NaT
1,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,2011-07-30 00:00:00,2011-07-30 00:02:00,0 days 00:02:06,0 days 00:01:54,Level 2,2,37.444572,-122.160309,Customer,4,94301.0,4169.0,False,0 days 00:00:12,Saturday,000D6F00015A9D76_2,1,0 days 03:43:00
2,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,2011-07-30 08:16:00,2011-07-30 12:34:00,0 days 04:17:32,0 days 04:17:28,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,5,94301.0,4169.0,False,0 days 00:00:04,Saturday,000D6F00015A9D76_2,2,0 days 08:16:00
3,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,2011-07-30 14:51:00,2011-07-30 16:55:00,0 days 02:03:24,0 days 02:02:58,Level 2,2,37.444572,-122.160309,Customer,6,94302.0,2545.0,False,0 days 00:00:26,Saturday,000D6F00015A9D76_2,3,0 days 06:35:00
4,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,2011-07-30 18:51:00,2011-07-30 20:03:00,0 days 01:11:24,0 days 00:43:54,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,7,94043.0,3765.0,False,0 days 00:27:30,Saturday,000D6F00015A9D76_2,4,0 days 04:00:00

In [ ]:
charging_2011['idle_time'] = charging_2011['start_date'].diff()

In [109]:
charging_2011.sort_values(['unique_plug_id', 'start_date'])

,station_name,mac_address,start_date,end_date,total_duration,charging_time,port_type,port_number,latitude,longitude,ended_by,plug_in_event_id,driver_postal_code,user_id,fee_bol,parking_time,weekday,unique_plug_id,index1,idle_time
98,PALO ALTO CA / HAMILTON #2,000D6F00009ED39E,2011-08-22 11:43:00,2011-08-22 11:58:00,0 days 00:15:30,0 days 00:15:15,Level 1,1,37.444607,-122.160263,Customer,54,94061.0,2557.0,False,0 days 00:00:15,Monday,000D6F00009ED39E_1,98,0 days 03:05:00
138,PALO ALTO CA / HAMILTON #2,000D6F00009ED39E,2011-08-31 13:01:00,2011-08-31 14:03:00,0 days 01:02:02,0 days 01:00:57,Level 1,1,37.444607,-122.160263,Customer,87,NaN,0.0,False,0 days 00:01:05,Wednesday,000D6F00009ED39E_1,138,0 days 00:53:00
324,PALO ALTO CA / HAMILTON #2,000D6F00009ED39E,2011-10-01 11:31:00,2011-10-01 12:31:00,0 days 00:59:55,0 days 00:59:49,Level 1,1,37.444607,-122.160263,Customer,176,94061.0,2557.0,False,0 days 00:00:06,Saturday,000D6F00009ED39E_1,324,0 days 12:18:00
335,PALO ALTO CA / HAMILTON #2,000D6F00009ED39E,2011-10-03 17:23:00,2011-10-03 17:26:00,0 days 00:03:30,0 days 00:02:27,Level 1,1,37.444607,-122.160263,Plug Out at Vehicle,181,94061.0,2557.0,False,0 days 00:01:03,Monday,000D6F00009ED39E_1,335,0 days 08:09:00
336,PALO ALTO CA / HAMILTON #2,000D6F00009ED39E,2011-10-03 17:27:00,2011-10-03 19:47:00,0 days 02:20:37,0 days 02:20:24,Level 1,1,37.444607,-122.160263,Customer,182,94061.0,2557.0,False,0 days 00:00:13,Monday,000D6F00009ED39E_1,336,0 days 00:04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1247,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,2011-12-27 19:34:00,2011-12-27 20:34:00,0 days 00:59:31,0 days 00:59:14,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,489,94041.0,6186.0,False,0 days 00:00:17,Tuesday,000D6F00015A9D76_2,1247,0 days 02:07:00
1251,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,2011-12-28 13:29:00,2011-12-28 17:01:00,0 days 03:32:27,0 days 00:14:19,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,490,95032.0,3226.0,False,0 days 03:18:08,Wednesday,000D6F00015A9D76_2,1251,0 days 00:34:00
1263,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,2011-12-30 12:41:00,2011-12-30 14:02:00,0 days 01:21:05,0 days 00:28:24,Level 2,2,37.444572,-122.160309,Customer,491,NaN,0.0,False,0 days 00:52:41,Friday,000D6F00015A9D76_2,1263,0 days 00:06:00
1266,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,2011-12-30 16:40:00,2011-12-30 17:24:00,0 days 00:43:58,0 days 00:43:39,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,492,94043.0,2828.0,False,0 days 00:00:19,Friday,000D6F00015A9D76_2,1266,0 days 02:42:00
1268,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,2011-12-30 18:09:00,2011-12-30 19:31:00,0 days 01:22:50,0 days 00:43:34,Level 2,2,37.444572,-122.160309,Plug Out at Vehicle,493,94301.0,4171.0,False,0 days 00:39:16,Friday,000D6F00015A9D76_2,1268,0 days 00:56:00