In [4]:
import pandas as pd
pa_data = pd.read_csv('./data/Charging_PA.csv',sep=',')

/usr/local/Caskroom/miniconda/base/envs/sql-practice/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (29,30,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [10]:
print(pa_data.info())
print(pa_data['Port Number'].value_counts().max)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259415 entries, 0 to 259414
Data columns (total 33 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Station Name                     259415 non-null  object
 1   MAC Address                      259415 non-null  object
 2   Org Name                         259415 non-null  object
 3   Start Date                       259415 non-null  object
 4   Start Time Zone                  259415 non-null  object
 5   End Date                         259415 non-null  object
 6   End Time Zone                    259415 non-null  object
 7   Transaction Date (Pacific Time)  259206 non-null  object
 8   Total Duration (hh:mm:ss)        259415 non-null  object
 9   Charging Time (hh:mm:ss)         259415 non-null  object
 10  Energy (kWh)                     259415 non-null  float64
 11  GHG Savings (kg)                 259415 non-null  float64
 12  Gasoline Savings (gallons)       259415 non-null  float64
 13  Port Type                        259406 non-null  object
 14  Port Number                      259415 non-null  int64
 15  Plug Type                        259415 non-null  object
 16  EVSE ID                          180467 non-null  float64
 17  Address 1                        259415 non-null  object
 18  City                             259415 non-null  object
 19  State/Province                   259415 non-null  object
 20  Postal Code                      259415 non-null  int64
 21  Country                          259415 non-null  object
 22  Latitude                         259415 non-null  float64
 23  Longitude                        259415 non-null  float64
 24  Currency                         257627 non-null  object
 25  Fee                              259415 non-null  float64
 26  Ended By                         259167 non-null  object
 27  Plug In Event Id                 259415 non-null  int64
 28  Driver Postal Code               251013 non-null  float64
 29  User ID                          251738 non-null  object
 30  County                           174750 non-null  object
 31  System S/N                       180467 non-null  float64
 32  Model Number                     180467 non-null  object
dtypes: float64(9), int64(3), object(21)
memory usage: 65.3+ MB
None
<bound method NDFrame._add_numeric_operations.<locals>.max of 2    153477
1    105938
Name: Port Number, dtype: int64>

In [15]:
print(pa_data[['Latitude','Longitude']])

         Latitude   Longitude
0       37.444572 -122.160309
1       37.444572 -122.160309
2       37.444572 -122.160309
3       37.444572 -122.160309
4       37.444572 -122.160309
...           ...         ...
259410  37.428623 -122.144043
259411  37.448284 -122.158272
259412  37.422104 -122.113510
259413  37.448284 -122.158272
259414  37.426178 -122.146034

[259415 rows x 2 columns]

In [21]:
# Get all lat and long from chargingstation in one list
lat_list = []
lon_list = []
geo_list = []

for i in pa_data['Latitude']:
    lat_list.append(i)

for i in pa_data['Longitude']:
    lon_list.append(i)

for index, item in enumerate(lat_list):
    geo_list.append([str(lat_list[index]) + ', ' + str(lon_list[index])])

In [22]:
print(len(geo_list))

259415

In [24]:
# keep only unique values in list
unique_geo_list = []
for x in geo_list:
    if x not in unique_geo_list:
        unique_geo_list.append(x)
print(len(unique_geo_list))

66