In [13]:
# veicoli elettrici

In [14]:
import pandas as pd

In [15]:
ROME_df = pd.read_csv('AMSTERDAM_poi_df.csv')

In [16]:
ROME_compare_dict = { 
                'h3_code': ROME_df.h3_source, 
                'total_poi': None,
                'station_count': None, 
                'Eat_and_Drink': None, 
                'Going_Out-Entertainment': None, 
                'Sights_and_Museums': None, 
                'Transport': None,
                'Accommodations': None, 
                'Shopping': None, 
                'Business_and_Services': None,
                'Facilities': None, 
                'Areas_and_Buildings': None}
ROME_compare_df = pd.DataFrame(ROME_compare_dict)
ROME_compare_df = ROME_compare_df.drop_duplicates()

In [17]:
def ROME_stations_in_h3(row):
    return ROME_df[(ROME_df.h3_source == row['h3_code']) & (ROME_df.cat_name == "Oplaadpunt voor elektrische auto's ")].count()
def ROME_count_100_in_h3(row):
    return ROME_df[(ROME_df.h3_source == row['h3_code']) & (ROME_df.cat_definition == 'Eat & Drink')].count()
def ROME_count_200_in_h3(row):
    return ROME_df[(ROME_df.h3_source == row['h3_code']) & (ROME_df.cat_definition == 'Going Out-Entertainment')].count()
def ROME_count_300_in_h3(row):
    return ROME_df[(ROME_df.h3_source == row['h3_code']) & (ROME_df.cat_definition == 'Sights and Museums')].count()
def ROME_count_400_in_h3(row):
    return ROME_df[(ROME_df.h3_source == row['h3_code']) & (ROME_df.cat_definition == 'Transport')].count()
def ROME_count_500_in_h3(row):
    return ROME_df[(ROME_df.h3_source == row['h3_code']) & (ROME_df.cat_definition == 'Accommodations')].count()
def ROME_count_600_in_h3(row):
    return ROME_df[(ROME_df.h3_source == row['h3_code']) & (ROME_df.cat_definition == 'Shopping')].count()
def ROME_count_700_in_h3(row):
    return ROME_df[(ROME_df.h3_source == row['h3_code']) & (ROME_df.cat_definition == 'Business and Services')].count()
def ROME_count_800_in_h3(row):
    return ROME_df[(ROME_df.h3_source == row['h3_code']) & (ROME_df.cat_definition == 'Facilities')].count()
def ROME_count_900_in_h3(row):
    return ROME_df[(ROME_df.h3_source == row['h3_code']) & (ROME_df.cat_definition == 'Areas and Buildings')].count()
def ROME_total_poi(row):
    return row['Eat_and_Drink']+row['Going_Out-Entertainment']+row['Sights_and_Museums']+row['Transport']+row['Accommodations']+row['Shopping']+row['Business_and_Services']+row['Facilities']+row['Areas_and_Buildings']
def ROME_area_high_low(row):
    if row['total_poi']<30:
        return 'Low-area'
    elif row['total_poi'] >= 30:
        return 'High-area'

In [18]:
ROME_compare_df['station_count'] = ROME_compare_df.apply(lambda row : ROME_stations_in_h3(row), axis=1)
ROME_compare_df['Eat_and_Drink'] = ROME_compare_df.apply(lambda row : ROME_count_100_in_h3(row), axis=1)
ROME_compare_df['Going_Out-Entertainment'] = ROME_compare_df.apply(lambda row : ROME_count_200_in_h3(row), axis=1)
ROME_compare_df['Sights_and_Museums'] = ROME_compare_df.apply(lambda row : ROME_count_300_in_h3(row), axis=1)
ROME_compare_df['Transport'] = ROME_compare_df.apply(lambda row : ROME_count_400_in_h3(row), axis=1)
ROME_compare_df['Accommodations'] = ROME_compare_df.apply(lambda row : ROME_count_500_in_h3(row), axis=1)
ROME_compare_df['Shopping'] = ROME_compare_df.apply(lambda row : ROME_count_600_in_h3(row), axis=1)
ROME_compare_df['Business_and_Services'] = ROME_compare_df.apply(lambda row : ROME_count_700_in_h3(row), axis=1)
ROME_compare_df['Facilities'] = ROME_compare_df.apply(lambda row : ROME_count_800_in_h3(row), axis=1)
ROME_compare_df['Areas_and_Buildings'] = ROME_compare_df.apply(lambda row : ROME_count_900_in_h3(row), axis=1)
ROME_compare_df['total_poi'] = ROME_compare_df.apply(lambda row : ROME_total_poi(row), axis=1)
ROME_compare_df['h3_area'] = ROME_compare_df.apply(lambda row : ROME_area_high_low(row), axis=1)

In [19]:
def is_station(row):
    if row['station_count'] >= 1:
        return True
    elif row['station_count'] == 0:
        return False

In [20]:
ROME_compare_df['is_station'] = ROME_compare_df.apply(lambda row : is_station(row), axis=1)

In [21]:
ROME_compare_df.head()

,h3_code,total_poi,station_count,Eat_and_Drink,Going_Out-Entertainment,Sights_and_Museums,Transport,Accommodations,Shopping,Business_and_Services,Facilities,Areas_and_Buildings,h3_area,is_station
0,891969c9933ffff,89,3,7,1,0,0,0,5,64,12,0,High-area,True
89,8919695268bffff,92,2,3,3,2,1,1,3,70,9,0,High-area,True
181,89196952513ffff,4,0,0,0,1,0,0,0,3,0,0,Low-area,False
185,891969c8aa7ffff,1,0,0,0,0,0,0,0,0,1,0,Low-area,False
186,891969c9d63ffff,31,1,0,0,2,0,1,4,15,9,0,High-area,True

In [22]:
ROME_compare_df.to_csv('AMSTERDAM_compare_df.csv', sep=',')

In [23]:
ROME_is_station_df = ROME_compare_df.drop(ROME_compare_df[ROME_compare_df.is_station == False].index)

In [24]:
ROME_is_station_df.to_csv('AMSTERDAM_is_station.csv', sep=',')