In [1]:
import pandas as pd
import requests
import json

In [2]:
MUC_compare_df = pd.read_csv('MUC_compare_df.csv')
PA_compare_df = pd.read_csv('PA_compare_df.csv')
MUC_df = pd.read_csv('MUC_poi_df.csv')
PA_df = pd.read_csv('PA_poi_df.csv')
charging_df = pd.read_csv('../PA_charging/PA_charging_data.csv')

In [8]:
MUC_compare_df.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2480 entries, 0 to 2479
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               2480 non-null   int64
 1   h3_code                  2480 non-null   object
 2   total_poi                2480 non-null   int64
 3   station_count            2480 non-null   int64
 4   Eat_and_Drink            2480 non-null   int64
 5   Going_Out-Entertainment  2480 non-null   int64
 6   Sights_and_Museums       2480 non-null   int64
 7   Transport                2480 non-null   int64
 8   Accommodations           2480 non-null   int64
 9   Shopping                 2480 non-null   int64
 10  Business_and_Services    2480 non-null   int64
 11  Facilities               2480 non-null   int64
 12  Areas_and_Buildings      2480 non-null   int64
 13  h3_area                  2480 non-null   object
 14  Shopping_percent         2480 non-null   float64
 15  Transport_percent        2480 non-null   float64
 16  Business_percent         2480 non-null   float64
 17  Eat_percent              2480 non-null   float64
 18  max_category             2480 non-null   object
dtypes: float64(4), int64(12), object(3)
memory usage: 368.2+ KB

In [3]:
MUC_compare_df.h3_area.unique()

array(['Low-area', 'High-area'], dtype=object)

In [13]:
MUC_high_area_df = MUC_compare_df.where(MUC_compare_df.h3_area =='High-area').sort_values(['total_poi', 'station_count', 'max_category'], ascending=[False, True, False]).dropna()
MUC_low_area_df = MUC_compare_df.where(MUC_compare_df.h3_area =='Low-area').sort_values(['total_poi', 'station_count', 'max_category'], ascending=[False, True, False]).dropna()

In [9]:
MUC_high_area_df_no_station = MUC_compare_df.query('h3_area =="High-area" and station_count == 0').sort_values(['total_poi', 'station_count', 'max_category'], ascending=[False, True, False]).dropna()
#MUC_low_area_df_no_station = MUC_compare_df.where((MUC_compare_df.h3_area =='Low-area') and (MUC_compare_df.station_count >= 0)).sort_values(['total_poi', 'station_count', 'max_category'], ascending=[False, True, False]).dropna()

In [21]:
# MUC_high_area_df_no_station = MUC_compare_df.where((MUC_compare_df.h3_area =='High-area') and (MUC_compare_df.station_count >= 0)).sort_values(['total_poi', 'station_count', 'max_category'], ascending=[False, True, False]).dropna()
# MUC_low_area_df_no_station = MUC_compare_df.where((MUC_compare_df.h3_area =='Low-area') and (MUC_compare_df.station_count >= 0)).sort_values(['total_poi', 'station_count', 'max_category'], ascending=[False, True, False]).dropna()

In [15]:
MUC_low_area_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1355 entries, 107 to 2037
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               1355 non-null   float64
 1   h3_code                  1355 non-null   object
 2   total_poi                1355 non-null   float64
 3   station_count            1355 non-null   float64
 4   Eat_and_Drink            1355 non-null   float64
 5   Going_Out-Entertainment  1355 non-null   float64
 6   Sights_and_Museums       1355 non-null   float64
 7   Transport                1355 non-null   float64
 8   Accommodations           1355 non-null   float64
 9   Shopping                 1355 non-null   float64
 10  Business_and_Services    1355 non-null   float64
 11  Facilities               1355 non-null   float64
 12  Areas_and_Buildings      1355 non-null   float64
 13  h3_area                  1355 non-null   object
 14  Shopping_percent         1355 non-null   float64
 15  Transport_percent        1355 non-null   float64
 16  Business_percent         1355 non-null   float64
 17  Eat_percent              1355 non-null   float64
 18  max_category             1355 non-null   object
dtypes: float64(16), object(3)
memory usage: 211.7+ KB

In [7]:
MUC_is_station = MUC_compare_df.where(MUC_compare_df.station_count >= 1).dropna()

In [8]:
MUC_is_station.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 366 entries, 1 to 2456
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               366 non-null    float64
 1   h3_code                  366 non-null    object
 2   total_poi                366 non-null    float64
 3   station_count            366 non-null    float64
 4   Eat_and_Drink            366 non-null    float64
 5   Going_Out-Entertainment  366 non-null    float64
 6   Sights_and_Museums       366 non-null    float64
 7   Transport                366 non-null    float64
 8   Accommodations           366 non-null    float64
 9   Shopping                 366 non-null    float64
 10  Business_and_Services    366 non-null    float64
 11  Facilities               366 non-null    float64
 12  Areas_and_Buildings      366 non-null    float64
 13  h3_area                  366 non-null    object
 14  Shopping_percent         366 non-null    float64
 15  Transport_percent        366 non-null    float64
 16  Business_percent         366 non-null    float64
 17  Eat_percent              366 non-null    float64
 18  max_category             366 non-null    object
dtypes: float64(16), object(3)
memory usage: 57.2+ KB

In [5]:
#MUC_high_area_df.info() # 1125 non null
#MUC_low_area_df.info() # 1355 non null

In [6]:
MUC_low_area_df.h3_code.count()

1355

In [7]:
MUC_high_area_df.h3_code.count()

1125

In [8]:
# next_charging_station_MUC = next_charging_station_MUC[[     'h3_code',
#                                                             'total_poi', 
#                                                             'station_count',
#                                                             'h3_area',
#                                                             'max_category'
#                 ]]

In [9]:
MUC_high_cs_build_1 = MUC_high_area_df_no_station.head(50)
MUC_high_cs_build_2 = MUC_high_area_df_no_station.iloc[50:100 , :].head(50)
MUC_high_cs_build_3 = MUC_high_area_df_no_station.iloc[100:150 , :].head(50)
MUC_high_cs_build_4= MUC_high_area_df_no_station.iloc[150:200 , :].head(50)
MUC_high_cs_build_5 = MUC_high_area_df_no_station.iloc[200:250 , :].head(50)
MUC_high_cs_build_6 = MUC_high_area_df_no_station.iloc[250:300 , :].head(50)
MUC_high_cs_build_7 = MUC_high_area_df_no_station.iloc[300:350 , :].head(50)
MUC_high_cs_build_8 = MUC_high_area_df_no_station.iloc[350:400 , :].head(50)
MUC_high_cs_build_9 = MUC_high_area_df_no_station.iloc[400:450 , :].head(50)
MUC_high_cs_build_10 = MUC_high_area_df_no_station.iloc[500:550 , :].head(50)
MUC_high_cs_build_11 = MUC_high_area_df_no_station.iloc[550:600 , :].head(50)
MUC_high_cs_build_11 = MUC_high_area_df_no_station.iloc[600:650 , :].head(50)

In [10]:
MUC_high_area_df.head()

,Unnamed: 0,h3_code,total_poi,station_count,Eat_and_Drink,Going_Out-Entertainment,Sights_and_Museums,Transport,Accommodations,Shopping,Business_and_Services,Facilities,Areas_and_Buildings,h3_area,Shopping_percent,Transport_percent,Business_percent,Eat_percent,max_category
824,28841.0,891f8d7aec7ffff,100.0,0.0,6.0,0.0,0.0,0.0,0.0,88.0,6.0,0.0,0.0,High-area,88.0,0.0,6.0,6.0,Shopping
883,30771.0,891f8d4482bffff,100.0,0.0,10.0,6.0,0.0,0.0,2.0,34.0,31.0,17.0,0.0,High-area,34.0,0.0,31.0,10.0,Shopping
9,359.0,891f8d44a37ffff,100.0,0.0,14.0,0.0,4.0,1.0,0.0,12.0,62.0,7.0,0.0,High-area,12.0,1.0,62.0,14.0,Business_and_Services
62,1801.0,891f8d7a99bffff,100.0,0.0,1.0,0.0,0.0,1.0,1.0,28.0,60.0,9.0,0.0,High-area,28.0,1.0,60.0,1.0,Business_and_Services
93,3036.0,891f8d4599bffff,100.0,0.0,10.0,5.0,0.0,2.0,0.0,21.0,55.0,7.0,0.0,High-area,21.0,2.0,55.0,10.0,Business_and_Services

In [10]:
MUC_high_cs_build_1.to_csv('./build/1_build_MUC.csv', sep=',')
MUC_high_cs_build_2.to_csv('./build/2_build_MUC.csv', sep=',')
MUC_high_cs_build_3.to_csv('./build/3_build_MUC.csv', sep=',')
MUC_high_cs_build_4.to_csv('./build/4_build_MUC.csv', sep=',')
MUC_high_cs_build_5.to_csv('./build/5_build_MUC.csv', sep=',')
MUC_high_cs_build_6.to_csv('./build/6_build_MUC.csv', sep=',')
MUC_high_cs_build_7.to_csv('./build/7_build_MUC.csv', sep=',')
MUC_high_cs_build_8.to_csv('./build/8_build_MUC.csv', sep=',')
MUC_high_cs_build_9.to_csv('./build/9_build_MUC.csv', sep=',')
MUC_high_cs_build_10.to_csv('./build/10_build_MUC.csv', sep=',')
MUC_high_cs_build_11.to_csv('./build/11_build_MUC.csv', sep=',')

In [15]:
MUC_is_station.to_csv('./build/MUC_is_station.csv', sep=',')