In [68]:
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import psycopg2
from sql import engine

In [69]:
MUC_compare_df = pd.read_csv('MUC_compare_df.csv')
PA_compare_df = pd.read_csv('PA_compare_df.csv')
MUC_df = pd.read_csv('MUC_poi_df.csv')
PA_df = pd.read_csv('PA_poi_df.csv')

In [70]:
PA_corr = PA_compare_df.corr()
MUC_corr = MUC_compare_df.corr()

In [71]:
MUC_find_max_df = MUC_compare_df.drop(['Unnamed: 0','h3_code','total_poi', 'h3_area'], axis= 1)

MUC_max_per_row= MUC_find_max_df.idxmax(axis=1)

MUC_compare_df['max_category'] = MUC_max_per_row

MUC_count_of_cat_max = MUC_compare_df.groupby('max_category')['h3_code'].nunique()

print(MUC_count_of_cat_max)

max_category
Accommodations               41
Areas_and_Buildings           4
Business_and_Services      2118
Eat_and_Drink                42
Facilities                   91
Going_Out-Entertainment      18
Shopping                     88
Sights_and_Museums           33
Transport                    43
station_count                 2
Name: h3_code, dtype: int64

In [72]:
PA_find_max_df = PA_compare_df.drop(['Unnamed: 0','h3_code','total_poi', 'h3_area'], axis= 1)
PA_max_per_row= PA_find_max_df.idxmax(axis=1)
PA_compare_df['max_category'] = PA_max_per_row
PA_count_of_cat_max = PA_compare_df.groupby('max_category')['h3_code'].nunique()
print(PA_count_of_cat_max)

max_category
Accommodations              13
Business_and_Services      169
Eat_and_Drink                2
Facilities                  42
Going_Out-Entertainment      1
Shopping                    16
Sights_and_Museums          11
Transport                   16
station_count                1
Name: h3_code, dtype: int64

In [81]:
def MUC_percent_of_shopping(row):
    return round(row['Shopping'] / row['total_poi'] * 100,2)
def PA_percent_of_shopping(row):
    return round(row['Shopping'] / row['total_poi'] * 100,2)

MUC_compare_df['Shopping_percent'] = MUC_compare_df.apply(lambda row : MUC_percent_of_shopping(row), axis=1)
PA_compare_df['Shopping_percent'] = PA_compare_df.apply(lambda row : PA_percent_of_shopping(row), axis=1)

In [90]:
MUC_compare_df.head()

,Unnamed: 0,h3_code,total_poi,station_count,Eat_and_Drink,Going_Out-Entertainment,Sights_and_Museums,Transport,Accommodations,Shopping,Business_and_Services,Facilities,Areas_and_Buildings,h3_area,max_category,Shopping_percent
0,0,891f8d7ad83ffff,23,0,0,1,0,2,2,2,11,5,0,Low-area,Business_and_Services,8.70
1,23,891f8d44b07ffff,98,1,2,0,0,0,0,10,71,15,0,High-area,Business_and_Services,10.20
2,121,891f8d4584bffff,57,0,3,1,1,1,0,7,32,12,0,High-area,Business_and_Services,12.28
3,178,891f8d7b44bffff,37,0,1,0,0,3,2,3,22,6,0,High-area,Business_and_Services,8.11
4,215,891f8d450b3ffff,47,0,1,0,0,2,0,8,32,4,0,High-area,Business_and_Services,17.02

In [88]:
PA_compare_df.Shopping_percent.describe()

count    271.000000
mean       9.271808
std       19.564944
min        0.000000
25%        0.000000
50%        0.000000
75%       11.110000
max      100.000000
Name: Shopping_percent, dtype: float64

In [89]:
MUC_compare_df.Shopping_percent.describe()

count    2480.000000
mean       12.894407
std        13.110539
min         0.000000
25%         3.030000
50%        11.110000
75%        18.750000
max       100.000000
Name: Shopping_percent, dtype: float64

In [73]:

# fig, ax = plt.subplots(figsize=(10,10))
# sb.heatmap(PA_corr,
#             xticklabels=PA_corr.columns,
#             yticklabels=PA_corr.columns,
#             cmap='RdBu_r',
#             annot=True,
#             linewidth=1.5)

In [74]:
# fig, ax = plt.subplots(figsize=(10,10))
# sb.heatmap(MUC_corr,
#             xticklabels=MUC_corr.columns,
#             yticklabels=MUC_corr.columns,
#             cmap='RdBu_r',
#             annot=True,
#             linewidth=1.5)

In [75]:
# #table_name = 'nd_pa_all_poi_df'
# # Write records stored in a dataframe to SQL database
# if engine!=None:
#     try:
#         PA_df.to_sql(name='nd_pa_all_poi_df', # Name of SQL table
#                         con=engine, # Engine or connection
#                         if_exists='replace', # Drop the table before inserting new values 
#                         index=False, # Write DataFrame index as a column
#                         chunksize=5000, # Specify the number of rows in each batch to be written at a time
#                         method='multi') # Pass multiple values in a single INSERT clause
#         print(f"The nd_pa_all_poi_df table was imported successfully.")
#     # Error handling
#     except (Exception, psycopg2.DatabaseError) as error:
#         print(error)
#         engine = None

# if engine!=None:
#     try:
#         MUC_df.to_sql(name='nd_muc_all_poi_df', # Name of SQL table
#                         con=engine, # Engine or connection
#                         if_exists='replace', # Drop the table before inserting new values 
#                         index=False, # Write DataFrame index as a column
#                         chunksize=5000, # Specify the number of rows in each batch to be written at a time
#                         method='multi') # Pass multiple values in a single INSERT clause
#         print(f"The nd_muc_all_poi_df table was imported successfully.")
#     # Error handling
#     except (Exception, psycopg2.DatabaseError) as error:
#         print(error)
#         engine = None    

# if engine!=None:
#     try:
#         MUC_compare_df.to_sql(name='nd_muc_compare_poi_df', # Name of SQL table
#                         con=engine, # Engine or connection
#                         if_exists='replace', # Drop the table before inserting new values 
#                         index=False, # Write DataFrame index as a column
#                         chunksize=5000, # Specify the number of rows in each batch to be written at a time
#                         method='multi') # Pass multiple values in a single INSERT clause
#         print(f"The nd_muc_compare_poi_df table was imported successfully.")
#     # Error handling
#     except (Exception, psycopg2.DatabaseError) as error:
#         print(error)
#         engine = None    

# if engine!=None:
#     try:
#         PA_compare_df.to_sql(name='nd_pa_compare_poi_df', # Name of SQL table
#                         con=engine, # Engine or connection
#                         if_exists='replace', # Drop the table before inserting new values 
#                         index=False, # Write DataFrame index as a column
#                         chunksize=5000, # Specify the number of rows in each batch to be written at a time
#                         method='multi') # Pass multiple values in a single INSERT clause
#         print(f"The nd_pa_compare_poi_df table was imported successfully.")
#     # Error handling
#     except (Exception, psycopg2.DatabaseError) as error:
#         print(error)
#         engine = None